{% extends 'base_agri.html.twig' %}

{% block body %}
<div class="toto">
    <div class="card">
        <table class="table">
            <tr>
                <th>Parcelle</th>
                <th>Culture</th>
                <th class="text-right">Charge</th>
                <th class="text-right">Rendement</th>
                <th class="text-right">Prix</th>
                <th class="text-right">Marge</th>
            </tr>
            {% for campagne in campagnes2 %}
                <tr>
                    <th>{{campagne['campagne']}}</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th class="text-right">{{campagne['marge']| showEur}}</th>
                </tr>
                {% for culture in campagne['cultures'] %}
                <tr  bgcolor='{{ culture['color']}}'>
                    <td>{{culture['culture']}}</td>
                    <td class="text-right">{{ culture['surface'] | showHa }}</td>
                    <td class="text-right">{{ culture['chargesHa'] | showUnity('€/ha')}}</td>
                    <td class="text-right">{{ culture['rendementHa'] | showUnity('t/ha')}}</td>
                    {% if culture['price'] != 0 %}
                        <td class="text-right">{{ culture['price'] | showUnity('€/t')}}</td>
                        <td class="text-right">{{ culture['margesHa'] | showUnity('€/t')}}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}

                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>

<div class="toto">
    <div class="card">
        <table class="table">
            <tr>
                <th>Parcelle</th>
                <th>Culture</th>
                <th class="text-right">Surface</th>
                <th class="text-right">Prix</th>
                <th class="text-right">Rendement</th>
            </tr>
            {% for campagne in campagnes2 %}
                <tr>
                    <td>{{campagne['campagne']}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for parcelle in campagne['parcelles'] %}
                <tr  bgcolor='{{ parcelle.cultureColor}}'>
                    <td><a href="{{ url("parcelle", {'parcelle_id': parcelle.id}) }}">{{parcelle.completeName}}</a></td>
                    <td>{{parcelle.culture}}</td>
                    <td class="text-right">{{ parcelle.surface | showHa }}</td>
                    <td class="text-right">{{ parcelle.priceHa | showUnity('€/ha') }}</td>

                    <td class="text-right">{{ (parcelle.poid_norme/parcelle.surface) | showUnity('t/ha')}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
