{% extends 'base_agri.html.twig' %}

{% block body %}

<div class="card",  style="page-break-after: always">
    <div class="card-header">
        Fiches Parcellaires
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("fiches_parcellaires_pdf") }}'">pdf</button>
    </div>
</div>

{% for parcelle in parcelles %}
    <div class="card",  style="page-break-after: always">
            <div class="card-header", style="background-color:{{ parcelle.cultureColor }};">
                Parcelle : {{ parcelle.completeName }}
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        Culture : {{ parcelle.culture }}
                    </div>
                    <div class="col-sm-6">
                        Surface : {{ parcelle.surface | showHa }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        N : <strong>{{ "%d"|format(parcelle.n)}}</strong>
                    </div>
                    <div class="col-sm-6">
                        P: <strong>{{ "%d"|format(parcelle.p)}}</strong> - K: <strong>{{ "%d"|format(parcelle.k)}}</strong> - S: <strong>{{ "%d"|format(parcelle.s)}}</strong> - Mg: <strong>{{ "%d"|format(parcelle.mg)}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <div style="text-align: right; {{visibility}}"><b>{{ parcelle.priceHa | showUnity("€/ha") }}</b></div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for intervention in parcelle.interventions %}
                    <div class="list-group-item flex-column align-items-start" style="page-break-inside: avoid;">
                        <div class="row">
                            <div class="col-4">
                                <a href="/intervention/{{intervention.id}}">{{intervention.get_date()}}</a>

                            </div>
                            <div class="col-4">
                                {{intervention.type}}
                            </div>
                            <div class="col-2">
                                <div style="text-align: right; {{visibility}}"><b>{{ intervention.getPriceHa() | showUnity("€/ha") }}</b></div>
                            </div>
                        </div>

                        <ul style="margin-bottom: 0rem;">
                            {% for it in intervention.produits %}
                            <li>
                                <div class="row">
                                    <div class="col-4">
                                        <i>{{it.produit}}</i>
                                    </div>
                                    <div class="col-4">
                                        <div style="text-align: right;">{{ it.qtyha | showUnityHa(it.produit.unity) }}</div>
                                    </div>
                                    <div class="col-3">
                                        <div style="text-align: right; {{visibility}}">{{ it.getPriceHa() | showUnity("€/ha") }}</div>
                                    </div>


                                </div>
                            </li>

                            {% endfor %}
                        </ul>

                        {% if intervention.comment %}
                        <div class="row">
                            <div class="col-12">
                                <small>{{ intervention.comment }}</small>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <br/>
{% endfor %}

{% endblock %}
