<!DOCTYPE html>
<head>
	<link rel="STYLESHEET" href="css/print_static.css" type="text/css">
    <style type="text/css">

</style>
</head>
<body>
    <div id="header">
        <table>
        <tbody><tr>
          <td>Fiches parcellaires, campagne {{ campagne }}</td>
          <td style="text-align: right;">www.maplaine.fr</td>
        </tr>
        </tbody></table>
    </div>
    <div id="footer">
        <div class="page-number"></div>
    </div>
{% for parcelle in parcelles %}
    <div class="page" style="page-break-inside: avoid">
        <table class="interventions" style="width:100%">
            <tbody>
				<tr class="odd_row" style="width: 100%; background-color:{{ parcelle.cultureColor }};">
					<th colspan="6"><h1 style="text-align: left">{{ parcelle.completeName }}</h1></th>
				</tr>

				<tr>
                    <td colspan="3">Culture : <strong>{{ parcelle.culture }}</strong></td>
                    <td colspan="3">Surface : <strong>{{ parcelle.surface | showHa }}</strong></td>
                </tr>
                <tr>
                    <td colspan="3">N : <strong>{{ "%d"|format(parcelle.engrais_n)}}</strong></td>
                    <td colspan="3">
                    P : <strong>{{ "%d"|format(parcelle.engrais_p)}}</strong> - K : <strong>{{ "%d"|format(parcelle.engrais_k)}}</strong> - S : <strong>{{ "%d"|format(parcelle.engrais_so3)}}</strong> - Mg : <strong>{{ "%d"|format(parcelle.engrais_mg)}}</strong>
                    </td>
                </tr>

				<tr class="odd_row" style="width: 100%; background-color:{{ parcelle.cultureColor }};">
					<th colspan="5">interventions</th>
					<th style="text-align: right"><div style="{{visibility}}">{{parcelle.priceHa | showUnity("€/ha")}}</div></th>
				</tr>

            {% for intervention in parcelle.interventions %}
				<tr class="odd_row">
                    <th colspan="2"><a href="/intervention/{{intervention.id}}">{{intervention.getDatetimeStr()}}</a></th>
                    <th colspan="2">{{intervention.getTypeName()}}</th>
                    <th></th>
					<th style="text-align: right;"><div style="{{visibility}}">{{intervention.getPriceHa() | showUnity("€/ha")}}</div></th>
                </tr>
                {% for it in intervention.produits %}
                <tr>
                    <td style="width: 5%;"></td>
                    <td style="width: 20%;"><i>{{it.produit}}</i></td>
					<td style="width: 10%;"></td>
                    <td style="width: 25%;">{% if it.produit.type == "engrais" %}
					<small>{{ (it.produit.engrais_n * it.getQuantityHa()) | showInt}} - {{ (it.produit.engrais_p * it.getQuantityHa()) | showInt }} - {{ (it.produit.engrais_k * it.getQuantityHa()) | showInt}} - {{ (it.produit.engrais_mg * it.getQuantityHa()) | showInt}} - ( S {{ (it.produit.engrais_so3 * it.getQuantityHa()) | showInt}} )</small>
					{% endif %}</td>
                    <td style="width: 20%; text-align: right">{{ it.getQuantityHa() | showUnityHa(it.produit.unity) }}</td>
					<td style="width: 20%; text-align: right"><div style="{{visibility}}">{{ it.getPriceHa() | showUnity("€/ha") }}</div></td>
                </tr>
                {% endfor %}
                {% if intervention.comment %}
                <tr>
                    <td  colspan="6">
                        <small> {{ intervention.comment | raw}} </small>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}

        </tbody>
        </table>

    </div>
</div>
{% endfor %}
</body>
