{% for parcelle in parcelles %}
    <div class="card",  style="page-break-after: always">
            <div class="card-header", style="background-color:{{ parcelle.cultureColor }};">
                Parcelle : {{ parcelle.completeName }}
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        Culture : {{ parcelle.culture }}
                    </div>
                    <div class="col-sm-6">
                        Surface : {{ parcelle.surface | showHa }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        N : {{ "%d"|format(parcelle.n)}}
                    </div>
                    <div class="col-sm-6">
                        P {{ "%d"|format(parcelle.p)}} - K {{ "%d"|format(parcelle.k)}} - S {{ "%d"|format(parcelle.s)}} - Mg : {{ "%d"|format(parcelle.mg)}}
                    </div>
                </div>
            </div>
            <table class="table">
                {% for intervention in parcelle.interventions %}

                    <tr>
                        <th><a href="/intervention/{{intervention.id}}">{{intervention.get_date()}}</a></th>
                        <th></th>
                        <th>{{intervention.type}}</th>
                    </tr>
                    {% for it in intervention.produits %}
                    <tr>
                        <td></td>
                        <td><i>{{it.produit}}</i></td>
                        <td>{{ it.qtyha | showUnityHa(it.produit.unity) }}</td>
                    </tr>
                    {% endfor %}
                    {% if intervention.comment %}
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <small> {{ intervention.comment }} </small>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                </tr>
            </table>

                <div class="list-group">
                    {% for intervention in parcelle.interventions %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endfor %}
