{% extends 'base_agri.html.twig' %}

{% block body %}


    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/achat/0'">ADD</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/achats_data'">ADD DATA</button>
            Panel heading
        </div>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Qty</th>
                <th class="text-right">Price</th>
                <th class="text-right">Price Total</th>
                <th></th>
            </tr>
            {% for achat in achats %}
            <tr>
                <td><a href="{{ url("achat", {'achat_id': achat.id}) }}">{{achat.getDateStr()}}</td>
                <td><a href="/produit/{{achat.produit.id}}">{{achat.produit.completeName}}</a></td>
                <td>{{achat.qty}}</td>
                <td  class="text-right">{{ achat.price | showEurUnity(achat.produit.unity) }}</td>
                <td  class="text-right">{{ achat.price_total | showEur }}</td>
                <td><a href="{{ url("achat_delete", {'achat_id': achat.id}) }}">d</a></td>

            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
