{% extends 'base_agri.html.twig' %}

{% block body %}


<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url('appartement_operation', {'operation_id': 0}) }}'">Ajouter une operation</button>
        Operations
    </div>
    <table class="table">
        <tr>
            <th></th>
            <th>Date</th>
            <th>Annee</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
        {% for operation in operations %}
            <tr>
                <td>{% if(operation.doc) %}<span class="oi oi-paperclip"></span>{% endif %}</td>

                <td>{{ operation.getDateStr | my_path('appartement_operation', {'operation_id': operation.id}) | raw }}</td>
                <td>{{operation.annee}}</td>
                <td>{{operation.type}}</td>
                <td>{{operation.value | showEur}}</td>
                <td>{{operation.sum | showEur}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
