{% extends 'base_form.html.twig' %}

{% block body_form %}

{% if (compte.id != '') %}
<div class="card">
    <div class="card-header">
        Operations
        <button type="button" class="btn btn-primary" onclick="window.location.href='/operation/0'">Ajouter</button>
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Campagne</th>
            <th class="text-right">D</th>
            <th class="text-right">C</th>
            <th class="text-right">Value</th>
        </tr>
        {% for ecriture in ecritures_futures %}
            <tr>
                <td><a href="/operation/{{ecriture['operation_id']}}">{{ecriture['date']}}</a></td>
                <td>{{ecriture['name']}}</a></td>
                <td>{{ecriture['campagne']}}</td>
                {% if ecriture['value'] > 0 %}
                    <td class="text-right"></td>
                    <td class="text-right" style="color: #006e36;">{{ ecriture['value'] | showEur }}</td>
                {% else %}
                    <td class="text-right" style="color: #e70b0b;">{{ ecriture['value'] | showEur }}</td>
                    <td class="text-right"></td>
                {% endif %}
                <td class="text-right">{{ ecriture['sum_value'] | showEur }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for ecriture in ecritures %}
            <tr>
                <td><a href="/operation/{{ecriture['operation_id']}}">{{ecriture['date']}}</a></td>
                <td>{{ecriture['name']}}</a></td>
                <td>{{ecriture['campagne']}}</td>
                {% if ecriture['value'] > 0 %}
                    <td class="text-right"></td>
                    <td class="text-right" style="color: #006e36;">{{ ecriture['value'] | showEur }}</td>
                {% else %}
                    <td class="text-right" style="color: #e70b0b;">{{ ecriture['value'] | showEur }}</td>
                    <td class="text-right"></td>
                {% endif %}
                <td class="text-right">{{ ecriture['sum_value'] | showEur }}</td>
                {% if ecriture['facture'] %}
                    <td><small>{{ecriture['facture'].getAchatsTotal() | showEur}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
{% endif %}
</div>

{% endblock %}
