{% extends 'base_agri.html.twig' %}
{% import 'base_agri.html.twig' as base_agri %}

{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}


{% block body %}

<div class="container bs-docs-container">
    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_end(form) }}
    </div>

{% if (compte.id != '') %}
<div class="panel panel-default", style="width:100%">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Operations
        <button type="button" class="btn btn-primary" onclick="window.location.href='/operation/0'">ADD</button>
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Campagne</th>
            <th class="text-right">D</th>
            <th class="text-right">C</th>
            <th class="text-right">Value</th>
        </tr>
        {% for ecriture in ecritures_futures %}
            <tr>
                <td><a href="/operation/{{ecriture['operation_id']}}">{{ecriture['date']}}</a></td>
                <td>{{ecriture['name']}}</a></td>
                <td>{{ecriture['campagne']}}</td>
                {% if ecriture['value'] > 0 %}
                    <td class="text-right"></td>
                    <td class="text-right" style="color: #006e36;">{{ ecriture['value'] | showEur }}</td>
                {% else %}
                    <td class="text-right" style="color: #e70b0b;">{{ ecriture['value'] | showEur }}</td>
                    <td class="text-right"></td>
                {% endif %}
                <td class="text-right">{{ ecriture['sum_value'] | showEur }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for ecriture in ecritures %}
            <tr>
                <td><a href="/operation/{{ecriture['operation_id']}}">{{ecriture['date']}}</a></td>
                <td>{{ecriture['name']}}</a></td>
                <td>{{ecriture['campagne']}}</td>
                {% if ecriture['value'] > 0 %}
                    <td class="text-right"></td>
                    <td class="text-right" style="color: #006e36;">{{ ecriture['value'] | showEur }}</td>
                {% else %}
                    <td class="text-right" style="color: #e70b0b;">{{ ecriture['value'] | showEur }}</td>
                    <td class="text-right"></td>
                {% endif %}
                <td class="text-right">{{ ecriture['sum_value'] | showEur }}</td>
            </tr>
        {% endfor %}

    </table>
{% endif %}
</div>

{% endblock %}
