{% extends 'base_agri.html.twig' %}

{% block body %}

<div class="panel panel-default", style="width:100%">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Last</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        {% for produit in produits %}
            <tr>
                <td>{{produit['name']}}</a></td>
                <td>{{produit['last']}}</a></td>
                <td>{{produit['min']}}</a></td>
                <td>{{produit['max']}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="panel panel-default", style="width:100%">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/cours/new'">ADD</button>
        Cours
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Année</th>
            <th>Date</th>
            <th>Prix</th>
        </tr>
        {% for cours in courss %}
            <tr>
                <td>{{cours.produit}}</a></td>
                <td>{{cours.campagne.name}}</a></td>
                <td>{{cours.getDateStr()}}</a></td>
                <td>{{cours.value}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
