{% extends 'base_agri.html.twig' %}

{% block body %}


    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("document", {'document_id': 0}) }}'">Ajouter</button>
        </div>

        <div class="list-group">
        {% for document in documents %}
        <div class="list-group-item flex-column align-items-start">
            <div class="row" style="min-height: 1.5rem;">
                <div class="col-md-2">
                    <a href="{{ document.url }}">
                        {{document.repository}}
                    </a>
                </div>

                <div class="col-md-2">
                    <a href="{{ document.url }}">
                        {{ document.directory }}
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ document.url }}">
                        {{ document.name }}
                    </a>
                </div>

                <div class="col-md-4 text-right">
                    {% if document.date %}
                        {{document.date | showDate }}
                    {% endif %}
                </div>

            </div>

        </div>
        {% endfor %}
    </div>

{% endblock %}
