{% extends 'base_agri.html.twig' %}

{% block body %}


<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("facture_fournisseur", {'facture_id': 0}) }}'">ADD</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='export'">EXPORT</button>
        Factures
    </div>
    <table class="table {% if app.user.show_unity %} example {% endif %}">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Campagne</th>
                <th>Name</th>
                <th>Banque</th>
                <th>Compte</th>
                <th class="text-right">montant HT</th>
                <th class="text-right">montant TTC</th>
                <th class="text-right">TVA</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in facture_fournisseurs %}
            {% if facture.name == "sfr" %}
                <tr  bgcolor='#ffff99'>
            {% elseif facture.name == "free" %}
                <tr  bgcolor='#ff99ff'>
            {% elseif facture.name == "bip&go" %}
                <tr  bgcolor='#99ffff'>
            {% else %}
            <tr>
            {% endif %}
                <td>{% if(facture.factureFileName) %}<span class="oi oi-paperclip"></span>{% endif %}</td>
                <td><a href="{{ url("facture_fournisseur", {'facture_id': facture.id}) }}">{{ facture.date | showIsoDate }}</a></td>
                <td>{{ facture.getCampagneStr() }}</td>
                <td>{{ facture.name }}</td>
                <td>{{ facture.banque }}</td>
                <td>{{ facture.compte }}</td>
                <td class="text-right">{{ facture.montantHT|showEur }}</td>
                <td class="text-right">{{ facture.montantTTC|showEur }}</td>
                <td class="text-right">{{ ((facture.montantTTC-facture.montantHT)/facture.montantHT)|showPercent }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="6" style="text-align:right">Total:</th>
            <th colspan="3" style="text-align:left"></th>
        </tr>
    </tfoot>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
        $('.js-datatable').DataTable({
    });
    $('.example').DataTable( {
        "lengthMenu": [[-1], ["All"]],
        "order": [[ 1, "desc" ]],
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                if(typeof i === 'string'){
                    i = i.replace(',','.');
                    i = i.replace(' ','');
                }
                l = parseFloat(i, 2);
                return l;
            };

            // Total over this page
            pageTotal = api
                .column( 6, { page: 'current'} )
                .data()
                .reduce( function (c, d) {
                    return intVal(c) + intVal(d);
                }, 0 );

            // Update footer
            $( api.column( 6 ).footer() ).html(
                Number((pageTotal).toFixed(2)) + '€'
            );
        }
    } );
} );
</script>
{% endblock %}
