{% extends 'base_agri.html.twig' %}

{% block body %}

<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/gasoil/0'">ADD</button>
            Gasoils
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th></th>
                <th class="text-right">Litre</th>
            </tr>
            {% for gasoil in gasoils %}
                <tr>
                    <td><a href="/gasoil/{{gasoil.id}}">{{gasoil.date | showDate }}</a></td>
                    <td>{{gasoil.type}}</td>
                    <td>{{gasoil.comment}}</td>
                    <td class="text-right">{{ gasoil.litre| showLitre }}</td>
                </tr>
            {% endfor %}
        </table>


    </div>

    <div class="panel panel-default", style="width:100%">
        <table class="table">
            <tr>
                <th>Type</th>
                <th class="text-right">Litre</th>
            </tr>
            {% for gasoil in gasoilsType %}
                <tr>
                    <td>{{gasoil.type}}</td>
                    <td class="text-right">{{ gasoil.sum_litre| showLitre }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="panel panel-default", style="width:100%">
        <table class="table">
            <tr>
                <th>Type</th>
                <th class="text-right">Litre</th>
            </tr>
            {% for  key,t in campagnes_g %}
                <tr>
                    <td>{{key}}</td>
                    <td class="text-right">{{ t | showLitre }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
