{% extends 'base_agri.html.twig' %}

{% block body %}

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/gasoil/0'">Ajouter</button>
        Gasoils
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
            <th class="text-right">Litre</th>
            <th class="text-right">Pompe</th>
        </tr>
        {% for gasoil in gasoilsAll %}
            <tr>
                <td><a href="/gasoil/{{gasoil.id}}">{{gasoil.date | showDate }}</a></td>
                <td>{{gasoil.type}}</td>
                <td>{{gasoil.comment}}</td>
                <td class="text-right">{{ gasoil.litre| showLitre }}</td>
                <td class="text-right">{{gasoil.litrePompe| showLitre }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
