{% extends 'base_agri.html.twig' %}

{% block javascripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />   
        
    <!-- On charge le code JavaScript de la librairie leaflet -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="/js/leaflet-measure.js"></script>

  <script>
        function onMapClick(e) {
            console.log("{\"lat\":" + e.latlng.lat + ",\"lon\":" +  e.latlng.lng  + "},");
        }
    console.log("otot");
    window.addEventListener( "load", function( event ) {    
        var map = L.map( 'map' /* the id of the tag used for map injection */ );

        var measureControl = L.control.measure({ primaryLengthUnit: 'meters', secondaryLengthUnit: 'kilometers', primaryAreaUnit: 'hectares' });
        measureControl.addTo(map);

        map.setView( [{{lat}},  {{lon}} /*longitude*/], 18 /*zoom*/ );

        // --- We add a layer based on OpenStreetMap ---
        L.tileLayer( 'http://tile.openstreetmap.org/{z}/{x}/{y}.png' ).addTo(map);   // Base Map

        {% for point in balises %}
            L.marker([{{point.latitude}},{{point.longitude}}]).addTo(map);
        {% endfor %}

        map.on('click', onMapClick);

    });
    
    </script>  
{% endblock %}

{% block body %}

<div class="card">
    <div id="map" style="position: relative;height: 600px;"></div>

</div>

<div class="card">
    <div class="card-header">
        Balises
    </div>
    <table class="table">
        <tr>
            <th>name</th>
            <th>longitude</th>
            <th>latitude</th>
<<<<<<< HEAD
            <th>date</th>
            <th></th>
        </tr>
        {% for balise in balises %}
            <tr>
                <td>{{ balise.name }}</td>
                <td>{{ balise.longitude }}</td>
                <td>{{ balise.latitude }}</td>
                <td>{{ balise.my_datetime | showDatetime }}</td>
                <td></td>
=======
        </tr>
        {% for balise in balises %}
            <tr>
                <td>{{ balise.my_id }}</td>
                <td>{{ balise.longitude }}</td>
                <td>{{ balise.latitude }}</td>
                
>>>>>>> c770bab62cf0a3cf4c20cb6494452bb67770fda6
                
            </tr>
        {% endfor %}
    </table>


</div>
   
{% endblock %}
