{% extends 'base_form.html.twig' %}

{% block body_form %}

<div class="card">
    <div class="card-header">
        Parcelle
    </div>
    <table class="table">
        <tr>
            <th>Campagne</th>
            <th>{{'Name' | trans }}</th>
            <th>Culture</th>
            <th>Surface</th>
        </tr>
        {% for parcelle in parcelles %}
        <tr>
            <td><a href="{{ url("parcelle", {'parcelle_id': parcelle.id}) }}">{{parcelle.campagne.name}}</td>
            <td><b>{{parcelle.name}}</b></td>
            <td><b>{{parcelle.culture}}</b></td>
            <td><b>{{ "%.2f  ha"|format(parcelle.surface)}}</b></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
