{% extends 'base_agri.html.twig' %}

{% block body %}


<div class="card">
    <div class="card-header">
        Interventions
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("intervention", {'intervention_id': 0}) }}'">ADD</button>
    </div>
</div>

{% for intervention in interventions %}
<div class="card">
    <table class="table">
    <tr bgcolor='{{ intervention.getColor() }}', style="filter:brightness(0.95)">
        <td style="width:20%"><a href="{{ url("intervention", {'intervention_id': intervention.id}) }}">{{intervention.get_date()}}</td>
        <td><b>{{intervention.type}}
            {% if intervention.name %}
                - {{ intervention.name }}
            {% endif %}
            </b>
        </td>
        <td class="text-right" style="width:20%"><b>{{ intervention.surface | showHa }}</b></td>
        <td class="text-right" style="width:20%"><button class="btn btn-danger btn-sm" onclick="myFunction('{{intervention.get_date()}}','{{ url("intervention_delete", {'intervention_id': intervention.id}) }}')"><span class="oi oi-delete"></span></button>
    </tr>

    {% for it in intervention.parcelles %}
    <tr  bgcolor='{{ it.parcelle.cultureColor}}'>
        <td>{{it.parcelle.culture}}</td>
        <td>{{it.parcelle.completeName}}</td>
        <td class="text-right">{{ it.parcelle.surface | showHa }}</td>
        <td></td>
    </tr>
    {% endfor %}
    {% for it in intervention.produits %}
    <tr bgcolor='{{ intervention.getColor() }}' style="filter:brightness(1.05)">
        <td></td>
        <td>{{it.name}}</td>
        <td class="text-right">{{ it.qty | showUnity(it.produit.unity)}}</td>
        <td class="text-right">{{ it.qtyha | showUnity(it.produit.unity)}}</td>
    </tr>
    {% endfor %}
    {% if intervention.comment %}
    <tr bgcolor='{{ intervention.getColor() }}' style="filter:brightness(1.05)">

        <td colspan="4">
            {{ intervention.comment }}
        </td>
    </tr>
    {% endif %}
    </table>
</div>

{% endfor %}

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sûr de vouloir supprimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div id="modalDeleteDescription"></div>
          <p>Attention, cette action est irréversible!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button id="modalDeleteButton" type="button" class="btn btn-danger" >Supprimer</button>
      </div>
    </div>
  </div>
</div>

<script>

function myFunction(description, url) {
    $('#modalDeleteDescription').html("L'intervention du "+description);
    $('#modalDelete').modal();
    document.getElementById("modalDeleteButton").onclick = function(){ window.location.href=url;};
}
</script>

{% endblock %}


{% block script %}
{% endblock script %}
