{% extends 'base_agri.html.twig' %}

{% block body %}


<div class="card">
    <div class="card-header">
        Interventions
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("intervention", {'intervention_id': 0}) }}'">ADD</button>
    </div>
</div>

{% for intervention in interventions %}
<div class="card" style="background-color: {{ intervention.getColor() }};">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ url("intervention", {'intervention_id': intervention.id}) }}"><b>{{intervention.get_date()}}</b></a>
            </div>
            <div class="col-sm-6">
                <b>{{intervention.type}}
                {% if intervention.name %}
                    - {{ intervention.name }}
                {% endif %}
            </b>
            </div>
            <div class="col-sm-3">
                <b>{{ intervention.surface | showHa }}</b>
                <button class="btn btn-danger btn-sm float-right" onclick="myFunction('{{intervention.get_date()}}','{{ url("intervention_delete", {'intervention_id': intervention.id}) }}')"><span class="oi oi-delete"></span></button>
            </div>
        </div>
    </div>

    <div class="card-body">
        {% for it in intervention.parcelles %}
            <div class="row" style="background-color: {{ it.parcelle.cultureColor}}">
                <div class="col-sm-8">
                    {{it.parcelle.completeName}}
                </div>
                <div class="col-sm-3 text-right">
                    {{ it.parcelle.surface | showHa }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if (intervention.produits | length) > 0 %}
    <div class="card-body">
        {% for it in intervention.produits %}
            <div class="row">
                <div class="col-sm-5">
                    <i>{{it.name}}</i>
                </div>
                <div class="col-sm-3 text-right">
                    {{ it.qty | showUnity(it.produit.unity)}}
                </div>
                <div class="col-sm-3 text-right">
                    {{ it.qtyha | showUnityHa(it.produit.unity)}}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if intervention.comment %}
    <div class="card-body">
            {{ intervention.comment }}
    </div>
    {% endif %}
    </table>
</div>

{% endfor %}

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sûr de vouloir supprimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div id="modalDeleteDescription"></div>
          <p>Attention, cette action est irréversible!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button id="modalDeleteButton" type="button" class="btn btn-danger" >Supprimer</button>
      </div>
    </div>
  </div>
</div>

<script>

function myFunction(description, url) {
    $('#modalDeleteDescription').html("L'intervention du "+description);
    $('#modalDelete').modal();
    document.getElementById("modalDeleteButton").onclick = function(){ window.location.href=url;};
}
</script>

{% endblock %}


{% block script %}
{% endblock script %}
