{% extends 'base_form.html.twig' %}


{% block body %}

<div class="card mb-3">
    <div class="card-body">
    {{ form_start(form) }}
    {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.parcelle, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.espece, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.poid_total, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.tare, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.poid_norme, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.humidite, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.impurete, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.ps, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.proteine, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.calibrage, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.save) }}
    <input type="submit" class="btn btn-primary" value="Sauvegarder" />
    {{ form_end(form) }}
</div>


</div>
{% endblock %}
