{% extends 'base_agri.html.twig' %}



{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}

{% block date_widget %}
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
{% endblock date_widget %}

{% block entity_widget %}
    {{ form_widget(form, {'attr': {'class': 'form-control js-select'}}) }}
{% endblock entity_widget %}


{% block javascripts %}
<link href='/lib/select2/css/select2.min.css' rel='stylesheet' />
<script src='/lib/select2/js/select2.min.js'></script>
<script>
$(document).ready(function(){
    $('.js-select').select2();
});
</script>
{% endblock %}



{% block body %}

<div class="card mb-3">
    <div class="card-body">
    {{ form_start(form) }}
    {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.parcelle, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.espece, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.poid_total, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.tare, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.poid_norme, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.humidite, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.impurete, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.ps, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.proteine, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.calibrage, {'attr': {'class': 'form-control'}}) }}
    <hr>
    <input type="submit" class="btn btn-primary" value="Sauvegarder" />
    {{ form_end(form) }}
</div>


</div>
{% endblock %}
