{% extends 'base_agri.html.twig' %}

{% block body %}


<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/livraison/0'">Ajouter</button>
        Livraisons
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Parcelle</th>
            <th class="text-right">Poid normé</th>
            <th class="text-right">Caracteristiques</th>
        </tr>
        {% for livraison in livraisons %}
            <tr>
                <td><a href="/livraison/{{livraison.id}}">{{livraison.espece}} - {{livraison.name}}</a></td>
                <td>{{livraison.date | showDatetime}}</td>
                <td>{{livraison.parcelle}}</td>
                <td class="text-right">{{ livraison.poid_norme | showUnity('t')}}</td>
                <td class="text-right">{{ livraison.getCarateristiques()}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="card">
    <div class="card-header">
        Culture
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th class="text-right">Poid normé</th>
        </tr>
        {% for key, culture in cultures %}
            <tr>
                <td>{{key}}</td>
                <td class="text-right">{{ culture | showUnity('t')}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="card">
    <div class="card-header">
        Parcelles
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Espece</th>
            <th class="text-right">Poid normé</th>
            <th class="text-right">Surface</th>
            <th class="text-right">rendement</th>
            <th class="text-right">caracteristiques</th>
        </tr>
        {% for parcelle in parcelles %}
            <tr>
                <td>{{parcelle['name']}}</td>
                <td>{{parcelle['espece']}}</td>
                <td class="text-right">{{ parcelle['poid'] | showUnity('t')}}</td>
                <td class="text-right">{{ parcelle['surface'] | showHa }}</td>
                <td class="text-right">{{ (parcelle['poid']/parcelle['surface']) | showUnity('t/ha')}}</td>
                <td class="text-right">{{ parcelle['caracteristiques']  }}</td>

            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
