{% extends 'base_form.html.twig' %}

{% block body_form %}

<div class="card">
    <div class="card-header">
        Ecritures
        <button type="button" class="btn btn-primary" onclick="window.location.href='/operation/{{operation.id}}/ecriture/0'">ADD</button>
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>D</th>
            <th>C</th>
        </tr>
        {% for ecriture in operation.ecritures %}
            <tr>
                <td><a href="/operation/{{operation.id}}/ecriture/{{ecriture.id}}">{{ecriture.compte.name}}</a></td>
                {% if(ecriture.value > 0) %}
                <td>{{ ecriture.value | showEur  }} </a></td>
                <td></td>
                {% else %}
                <td></td>
                <td>{{ ecriture.value | showEur  }} </a></td>
                {% endif %}

            </tr>

        {% endfor %}
        <tr>
            <th>Total</th>
            <th>{{ operation.getTotalD() | showEur  }}</th>
            <th>{{ operation.getTotalC() | showEur  }}</th>
        </tr>
    </table>

</div>

{% endblock %}
