{% extends 'base_agri.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("parcelle", {'parcelle_id': 0}) }}'">{{'Add' | trans }}</button>

            Parcelle
        </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>{{'Active' | trans }}</th>
                <th>{{'Name' | trans }}</th>
                <th>Ilot</th>
                <th>Culture</th>
                <th class="text-right">Surface</th>
                <th class="text-right">Rendement</th>
                <th></th>
            </tr>
            {% for parcelle in parcelles %}
            <tr  bgcolor='{{ parcelle.cultureColor}}'>
                <td><a href="{{ url("parcelle", {'parcelle_id': parcelle.id}) }}">{{parcelle.completeName}}</a></td>
                <th>{{parcelle.active}}</th>
                <td>{{parcelle.name}}</td>
                <td>{{parcelle.getIlotName()}}</td>
                <td>{{parcelle.getCultureName()}}</td>
                <td class="text-right">{{ parcelle.surface | showHa }}</td>
                <td class="text-right">{{ parcelle.rendement | showUnity('t')}}</td>
                <td><a href="/parcelle/{{parcelle.id}}/delete">d</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if ilots | length > 0 %}
    <div class="card">
        <div class="card-header">
            Ilots Restant
        </div>
        <table class="table">
            <tr>
                <th>{{'Name' | trans }}</th>
                <th class="text-right">Surface Ilot</th>
                <th class="text-right">Surface restante</th>
                <th class="text-right"></th>
            </tr>
            {% for ilot in ilots %}
                <tr>
                    <td>{{ilot["name"]}}</a></td>
                    <td class="text-right">{{ ilot["surface_totale"] | showHa  }}</td>
                    <td class="text-right">{{ (ilot["surface_restante"]) | showHa  }}</td>
                    <td class="text-right"><a href="{{ url("parcelle", {'parcelle_id': 0}) }}?surface={{ (ilot["surface_restante"])}}&ilot_id={{ (ilot["id"])}}">Ajouter</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}


    <div class="card">
        <table class="table">
            <tr>
                <th>Culture</th>
                <th class="text-right">Surface</th>
            </tr>
            {% for key, culture in cultures %}
                <tr>
                    <td>{{key}}</td>
                    <td class="text-right">{{ culture | showHa }}</td>
                    <td class="text-right">{{ (culture/total) | showPercent}}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>TOTAL</th>
                <th class="text-right">{{ total | showHa }}</th>
                <th></th>
            </tr>
        </table>
    </div>

{% endblock %}
