{% extends 'base_form.html.twig' %}

{% block body_form %}

{% if parcelle.id != '0' %}
<div class="card mb-3">
    <div class="card-header">
        Varietes
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("variete", {'parcelle_id': parcelle.id, 'variete_id':0}) }}'">{{'Add' | trans }}</button>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Ordre</th>
            <th>Precedent</th>
            <th></th>
            <th>Surface</th>
            <th></th>
            
        </tr>
        {% for variete in parcelle.varietes %}
        <tr>
            <td><a href='{{ url("variete", {'parcelle_id': parcelle.id, 'variete_id':variete.id}) }}'>{{variete.name}}</td>
            <td>{{ variete.ordre }}</td>
            <td>{{ variete.precedent }}</td>
            <td>{{ variete.comment }}</td>
            <td>{{ variete.surface | showHa }}</td>
            <td><a href='{{ url("variete_delete", {'parcelle_id': parcelle.id, 'variete_id':variete.id}) }}'>d</td>
            
        </tr>
        
        {% endfor %}
    </table>
</div>

<div class="card mb-3">
    <div class="card-header">
        Interventions
    </div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>{{'Name' | trans}}</th>
            <th></th>
            <th>{{ "%.2f  €/ha"|format(priceHa)}}</th>
            <th></th>
        </tr>
        {% for intervention in interventions %}
        <tr>
            <td><a href="/intervention/{{intervention.id}}">{{intervention.id}}</td>
            <td><b>{{intervention.getDatetimeStr()}}</b></td>
            <td><b>{{intervention.type}}</b></td>
            <td><b>{{ "%.2f  ha"|format(intervention.surface)}}</b></td>
            <td></td>
            <td><b>{{ "%.2f  €/ha"|format(intervention.getPriceHa())}}</b></td>
        </tr>
        {% for it in intervention.produits %}
        <tr>
            <td></td>
            <td></td>
            <td>{{it.name}}</td>
            <td>{{ "%.2f  u"|format(it.quantity)}}</td>
            <td>{{ "%.2f  u/ha"|format(it.getQuantityHa())}}</td>
            <td>{{ "%.2f  €/ha"|format(it.getPriceHa())}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</div>

{% endif %}
{% endblock %}
