{% extends 'base_form.html.twig' %}

{% block body_form %}

<div class="card mb-3">
    <!-- Default panel contents -->
    <div class="card-header">
        Interventions
    </div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>{{'Name' | trans}}</th>
            <th></th>
            <th>{{ "%.2f  €/ha"|format(priceHa)}}</th>
            <th></th>
        </tr>
        {% for intervention in interventions %}
        <tr>
            <td><a href="/intervention/{{intervention.id}}">{{intervention.id}}</td>
            <td><b>{{intervention.get_date()}}</b></td>
            <td><b>{{intervention.type}}</b></td>
            <td><b>{{ "%.2f  ha"|format(intervention.surface)}}</b></td>
            <td></td>
            <td><b>{{ "%.2f  €/ha"|format(intervention.getPriceHa())}}</b></td>
        </tr>
        {% for it in intervention.produits %}
        <tr>
            <td></td>
            <td></td>
            <td>{{it.name}}</td>
            <td>{{ "%.2f  u"|format(it.qty)}}</td>
            <td>{{ "%.2f  u/ha"|format(it.qtyha)}}</td>
            <td>{{ "%.2f  €/ha"|format(it.getPriceHa())}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}
