{% extends 'base_form.html.twig' %}

{% block body_form %}

{% if (materiel.id != '') %}
<div class="card">
    <div class="card-header">
        Entretiens
        <button type="button" class="btn btn-primary" onclick="window.location.href='/materiel/{{materiel.id}}/entretien/0'">{{'Add' | trans }}</button>
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>{{ materiel.getUnity() }}</th>
            <th>Type</th>
        </tr>
        {% for entretien in entretiens %}
        <tr>
        
            <td>{{ entretien.getDateStr() | my_path('entretien_materiel', {'materiel_id': materiel.id, 'entretien_id': entretien.id}) | raw }}</td>
            <td>{{entretien.nbHeure}}</td>
            <td>{{entretien.name}}</td>
        </tr>
        {% endfor %}
    </table>

</div>
</div>
{% endif %}
{% endblock %}
