{% extends 'base_form.html.twig' %}

{% block body_form %}

    <div class="card">
    <div class="list-group">
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {%if moteur.is_ok %}
                        <button type="button" class="btn btn-success"></button>
                    {% else %}
                        <button type="button" class="btn btn-danger"></button>
                    {% endif %}
                    {{moteur.label}}
                </h5>
            </div>

            <div class="row" style="min-height: 1.5rem;">
                <div class="col-md-4">
                    {{moteur.name}}
                </div>
                <div class="col-md-2">
                    {{moteur.last_update | showDatetime }}
                </div>
                <div class="col-md-2">
                    value : {{moteur.my_last_value }}
                </div>
            </div>

            <div class="row" style="min-height: 1.5rem;">
                {%if moteur.balise %}
                <div class="col-md-4">
                    balise : {{moteur.balise.name}}
                </div>
                <div class="col-md-2">
                    {{moteur.balise.last_update | showDatetime }}
                </div>
                <div class="col-md-2">
                    {{moteur.balise.last_temp }}
                </div>
                <div class="col-md-2">
                    {{moteur.balise.last_calculate | showUnity(moteur.balise.unity) }}
                </div>
                {%endif %}
            </div>

            <div class="row" style="min-height: 1.5rem;">
                <div class="col-md-4">
                    temp ext : {{moteur.last_temperature}}
                </div>
                <div class="col-md-2">
                    auto : {{moteur.is_auto }}
                </div>
                <div class="col-md-2">
                    desired : {{moteur.desired }}
                </div>
            </div>
            <div class="row" style="min-height: 1.5rem;">
                <div class="col-md-4">
                    temp ext : {{moteur.last_temperature}}
                </div>
                <div class="col-md-2">
                    {{moteur.is_auto }}
                </div>
                <div class="col-md-2">
                    debug : {{moteur.debug }}
                </div>
            </div>

        </div>
        <div class="list-group-item flex-column align-items-start">
        <div class="row" style="min-height: 1.5rem;">
            <div class="col-md-2">
            <a href="?duree=all">all
            </a>
            </div>
            <div class="col-md-2">
            <a href="?duree=6m">6m
            </a>
            </div>
            <div class="col-md-2">
            <a href="?duree=1m">1m
            </a>
            </div>
            <div class="col-md-2">
            <a href="?duree=1w">1w
            </a>
            </div>
            <div class="col-md-2">
            <a href="?duree=1d">1d
            </a>
            </div>
        </div>
    </div>
    </div>
</div>

    
    <div class="card">
        <canvas id="myChart"></canvas>
    </div>

    <div class="card">
        <div class="card-header">
            Moteurs
        </div>
        <div class="list-group">
            {% for temperature in temperatures %}
            <div class="list-group-item flex-column align-items-start">
                <div class="row" style="min-height: 1.5rem;">
                    <div class="col-md-4">
                        {{temperature.datetime| showDatetime}}
                    </div>
                    <div class="col-md-2">
                        {{temperature.temp_ext }}
                    </div>
                    <div class="col-md-2">
                        {{temperature.on_off }}
                    </div>
                    <div class="col-md-4">
                        desired  : {{temperature.desired_on_off }} {{temperature.debug }}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src='/lib/Chart.js/Chart.min.js'></script>
<script>
    var timeFormat = 'DD/MM/YYYY';

    var color = Chart.helpers.color;
    var config = {
        type: 'line',
        data: {
            datasets:[
                {% for chartjs in chartjss %}
                {
                    label: '{{chartjs['annee']}}',
                    fill: false,
                    backgroundColor: '{{chartjs['color']}}',
                    hidden: '{{chartjs['hidden']}}',
                    borderColor: '{{chartjs['color']}}',

                    data: [
                        {% for data in chartjs['data'] %}
                            {
                                x: "{{data['date']}}",
                                y: {{data['value']}},
                                text: "{{data['name']}}"
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear'
                }]
            },
            elements: {
                    point:{
                        radius: 0
                    }
                }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myLine = new Chart(ctx, config);

    };
</script>

{% endblock %}
