{% extends 'base_agri.html.twig' %}

{% block body %}
    <div class="card">
        <table class="table">
            <tr>
                <th>Last_Update</th>
                <th>
                    {%if robot.last_update %} {{robot.last_update | showDatetime}} {%endif %}
                </th>
                <th></th>
            </tr>
            <tr>
                <th>GPS</th>
                <th>
                    {%if robot.last_data.gps_type is defined %} {{robot.last_data.gps_type}} {%endif %}
                </th>
            </tr>
            <tr>
                <th>
                    {%if robot.last_data.gps_latitude is defined %} {{robot.last_data.gps_latitude}} {%endif %}
                </th>
                <th>
                    {%if robot.last_data.gps_longitude is defined %} {{robot.last_data.gps_longitude}} {%endif %}
                </th>
            </tr>
        </table>
    </div>

    <div class="card">
        <div class="card-header">
            Deplacement primaire (pendant 10 s)
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'AVANCE'}) }}'">Avance</button>
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'AVANCEG'}) }}'">Avance G</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'STOP'}) }}'">Stop</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'AVANCED'}) }}'">Avance D</button>
                </th>
            </tr>
            <tr>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'RECULEG'}) }}'">Recule G</button>
                </th>
                <th></th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='url("robot_order", {'robot_id': robot_id, 'order_label': 'RECULED'}) }}'">Recule D</button>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'RECULE'}) }}'">Recule</button>
                </th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'LINEAB'
                    , 'a_lat': '49.3336', 'a_lon': '4.2294', 'b_lat': '49.3333', 'b_lon': '4.22991'}) }}'">LINEAB Canon</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'LINEAB'}) }}'">LINEAB</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'LINEAB'
                    , 'a_lat': '49.6267', 'a_lon': '4.02223', 'b_lat': '49.6267', 'b_lon': '4.02211'}) }}'">LINEAB Maison</button>
                </th>
            </tr>

            <tr>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'LINEAB'
                    , 'a_lat': '49.6266941133', 'a_lon': '4.0220975683', 'b_lat': '49.6267245700', 'b_lon': '4.0220980917 '}) }}'">Line 1</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'LINEAB'
                    , 'a_lat': '49.6267245700', 'a_lon': '4.0220980917', 'b_lat': '49.6267332717', 'b_lon': '4.0222318717'}) }}'">Line 2</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'LINEAB'
                    , 'a_lat': '49.6267332717', 'a_lon': '4.0220980917', 'b_lat': '49.6267083983', 'b_lon': '4.0222350100'}) }}'">Line 3</button>
                </th>
            </tr>
        </table>
    </div>

    <div class="card">
        <div class="card-header">
            {{ robot_data }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Ordres
        </div>
            <table class="table">
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.name }}</td>
                    <td>{{order.d_create | showDate}}</td>
                    <td>{{order.params |json_encode()}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
