{% extends 'base_agri.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    last_update :
                    {%if robot.last_update %} {{robot.last_update | showDatetime}} {%endif %}
                </div>
                <div class="col-sm-4">
                    GPS :
                    {%if robot.last_data.gps_type is defined %} {{robot.last_data.gps_type}} {%endif %}
                </div>
                <div class="col-sm-4">
                    status :
                    {%if robot.last_data.status is defined %} {{robot.last_data.status}} {%endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    order :
                    {%if robot.last_data.order_id is defined %} {{robot.last_data.order_id}} {%endif %}
                </div>
                <div class="col-sm-4">
                    perc :
                    {%if robot.last_data.perc is defined %} {{robot.last_data.perc}} {%endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    v :
                    {%if robot.last_data.volt is defined %} {{robot.last_data.volt}} {%endif %}
                </div>
                <div class="col-sm-4">
                    a :
                    {%if robot.last_data.amp is defined %} {{robot.last_data.amp}} {%endif %}
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    {%if robot.last_data.l1 is defined %} {{robot.last_data.l1}} {%endif %}
                </div>
                <div class="col-sm-12">
                    {%if robot.last_data.l2 is defined %} {{robot.last_data.l2}} {%endif %}
                </div>
                <div class="col-sm-12">
                    {%if robot.last_data.l3 is defined %} {{robot.last_data.l3}} {%endif %}
                </div>
                <div class="col-sm-12">
                    {%if robot.last_data.l4 is defined %} {{robot.last_data.l4}} {%endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'AVANCE'}) }}'">Avance</button>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'AVANCEG'}) }}'">Avance G</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'STOP'}) }}'">Stop</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'AVANCED'}) }}'">Avance D</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'RECULEG'}) }}'">Recule G</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'RECULE'}) }}'">Recule</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_order", {'robot_id': robot_id, 'order_label': 'RECULED'}) }}'">Recule D</button>
                        </div>
                </div>
            </div>
            <div class="col-sm-6">
                    {% for job in jobs %}
                        <div class="row">
                            <a href="/robot_job/{{job.id}}/do_it/{{robot.id}}">{{job.name}}</a>
                        </div>
                    {% endfor %}

            </div>

        </div>
        </div>

    </div>

    <div class="card">
        <div id="map" style="position: relative;height: 600px;"></div>
        <div class="card-header">
            <button id="add_job" type="button" class="btn btn-primary" onclick="addJob()">Add Job</button>
        </div>
    </div>

    <div class="card">

   </div>



    <div class="card">
        <div class="card-header">
            Job
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            {{ robot_data }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Ordres
        </div>
            <table class="table">
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.status }}</td>
                    <td>{{order.perc | showInt}}</td>
                    <td>{{order.name }}</td>
                    <td>{{order.type }}</td>
                    <td>{{order.d_create | showDatetime2}}</td>
                    <td>{{order.getEps32() }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

     <div class="card">
        <div class="card-header">
            Admin
        </div>
        <div class="card-header">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_clear", {'robot_id': robot_id_bdd}) }}'">Clear</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url("robot_delete", {'robot_id': robot_id_bdd}) }}'">Delete</button>
        <div>
    </div>

{% endblock %}


    {% block javascripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />

<!-- On charge le code JavaScript de la librairie leaflet -->
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="/js/leaflet-measure.js"></script>

<script>
    console.log("otot");
    var latlngs_job = [];
    function addJob () {
        console.log("addJob");
        console.log(latlngs_job);
        console.log(JSON.stringify(latlngs_job));
        fetch("/robot/api/v2/job", {
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(latlngs_job)
        }).then(res => {
          console.log("Request complete! response:", res);
        });
    }
    window.addEventListener( "load", function( event ) {
        var map = L.map( 'map');

        /*var measureControl = L.control.measure({ primaryLengthUnit: 'meters', secondaryLengthUnit: 'kilometers', primaryAreaUnit: 'hectares' });
        measureControl.addTo(map);*/

        map.setView( [{{lat}},  {{lng}} /*longitude*/], 18 /*zoom*/ );

        // --- We add a layer based on OpenStreetMap ---
        L.tileLayer( 'http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.example.com/">Example</a>',
            maxNativeZoom:19,
            maxZoom:35
        }).addTo(map);   // Base Map
        L.marker([{{lat}}, {{lng}}]).addTo(map);

        {% for job in jobs %}
            {% if job.type == "LINEAB" %}
                var latlngs = [
                    [
                        [{{job.params.a_lat}},{{job.params.a_lon}}],
                        [{{job.params.b_lat}},{{job.params.b_lon}}],
                    ]
                ];
                var polyline = new L.Polyline(latlngs).addTo(map);

                var iconOptions = {
                    title:"company name",
                    draggable:true,
                }//pass the options to marker
                var marker = new L.Marker([{{(job.params.a_lat+job.params.b_lat)/2}},{{(job.params.a_lon+job.params.b_lon)/2}}] , iconOptions).addTo(map);
                marker.bindPopup("{{job.name}}");
            {% endif %}
            {% if job.type == "CURVEAB" %}
                var latlngs = {{ job.params["points"] |json_encode() }};
                var polyline = new L.Polyline(latlngs).addTo(map);

                var iconOptions = {
                    title:"company name",
                    draggable:true,
                }//pass the options to marker
                var marker = new L.Marker([(latlngs[0][0]+latlngs[1][0])/2,(latlngs[0][1]+latlngs[1][1])/2] , iconOptions).addTo(map);
                marker.bindPopup("{{job.name}}");
            {% endif %}
        {% endfor %}

        var latlngs = [
            [
            {% for p in passages %}
                [{{p.latitude}},{{p.longitude}}],
            {% endfor %}
            ]
        ];

        var polyline2 = new L.Polyline([]).addTo(map);
        map.on('click', function(event) {
            new L.Marker(event.latlng).addTo(map);
            polyline2.addLatLng(event.latlng);
            latlngs_job.push([event.latlng.lat, event.latlng.lng]);
            console.log(latlngs_job);

        });

        L.polyline(latlngs, {weight:1, color: 'black'}).addTo(map);

        {% for p in passages %}
            {% if p.work %}
                L.circleMarker([{{p.latitude}},{{p.longitude}}], {
                  radius : 1,
                  color  : '#00ff00'
                }).addTo(map);
            {% endif %}
        {% endfor %}

    });
</script>

{% endblock %}
