{% extends 'base_agri.html.twig' %}

{% block body %}
    <div class="card">
        <canvas id="myChart"></canvas>
    </div>

    <div class="card">
        <div class="card-header">
            Balises
        </div>
        <div class="list-group">
            {% for temperature in temperatures %}
            <div class="list-group-item flex-column align-items-start">
                <div class="row" style="min-height: 1.5rem;">
                    <div class="col-md-6">
                        {{temperature.datetime| showDatetime}}
                    </div>
                    <div class="col-md-6">
                        {{temperature.temp| showUnity("°")}}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src='/lib/Chart.js/Chart.min.js'></script>
<script>
    var timeFormat = 'DD/MM/YYYY';

    var color = Chart.helpers.color;
    var config = {
        type: 'line',
        data: {
            datasets:[
                {% for chartjs in chartjss %}
                {
                    label: '{{chartjs['annee']}}',
                    fill: false,
                    backgroundColor: '{{chartjs['color']}}',
                    hidden: '{{chartjs['hidden']}}',
                    borderColor: '{{chartjs['color']}}',

                    data: [
                        {% for data in chartjs['data'] %}
                            {
                                x: "{{data['date']}}",
                                y: {{data['value']}},
                                text: "{{data['name']}}"
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}
            ]
        },
        options: {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        format: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';
                        var text = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].text;
                        
                        if (label) {
                            label += ': ';
                        }
                        label += Math.round(tooltipItem.yLabel * 100) / 100;
                        label += " ("+text+")";
                       console.log(tooltipItem);
                        return label;
                    }
                }
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myLine = new Chart(ctx, config);

    };
</script>

{% endblock %}