{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{path('commercialisation', {'commercialisation_id': 0})}}'">ADD</button>
            Factures
        </div>
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Culture</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            {% for commercialisation in commercialisations %}
                <tr>
                    <td>{{ commercialisation.type | my_path('commercialisation', {'commercialisation_id': commercialisation.id}) | raw }}</td>
                    <td>{{ commercialisation.date | showDate}}</td>
                    <td>{{ commercialisation.culture }}</td>
                    <td>{{ commercialisation.qty | showUnity("t") }}</td>
                    <td>{{ commercialisation.price | showUnity(" €/t") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <table class="table">
            <tr>
                <th>Culture</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            {% for key, value in cultures %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value['qty'] | showUnity("t") }}</td>
                    <td>{{ value['price'] | showUnity(" €/t") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
