{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/compte/0'">ADD</button>
            Comptes
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th class="text-right">Previsionnel</th>
                <th class="text-right"></th>
                <th class="text-right">Montant</th>
            </tr>
            {% for compte in comptes %}
                {% if compte.type != 'campagne' or compte.getPriceNull() != 0 %}
                <tr>
                    <td><a href="/compte/{{compte.id}}">{{compte.name}}</a></td>
                    <td>{{ compte.type }}</td>

                    {% if compte.previsionnel != 0 %}
                        <td class="text-right">{{base_agri.show_eur(compte.previsionnel)}}</td>
                        <td class="text-right">{{ (compte.getPriceNull()/compte.previsionnel) | showPercent}}</td>
                    {% else %}
                        <td class="text-right">-</td>
                        <td class="text-right">-</td>
                    {% endif %}
                    <td class="text-right">{{base_agri.show_eur(-compte.getPriceNull())}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for campagne in campagnes %}
                <tr>
                    <th colspan = "4"  class="text-center">
                        {{campagne.name}}
                    </th>
                    <th class="text-right">{{ comptes_campagnes[campagne.name] | showEur}}</th>
                </tr>
                {% for compte in comptes %}
                    {% if compte.type == 'campagne' or compte.getPriceCampagne(campagne) != 0 %}
                    <tr>
                        <td><a href="/compte/{{compte.id}}">{{compte.name}}</a></td>
                        <td>{{ compte.type }} - {{campagne}}</td>
                        {% if compte.previsionnel != 0 %}
                            <td class="text-right">{{base_agri.show_eur(compte.previsionnel)}}</td>
                            <td class="text-right">{{ (compte.getPriceCampagne(campagne)/compte.previsionnel) | showPercent}}</td>
                        {% else %}
                            <td class="text-right">-</td>
                            <td class="text-right">-</td>
                        {% endif %}
                        <td class="text-right">{{base_agri.show_eur(compte.getPriceCampagne(campagne))}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
