{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/compte/0'">ADD</button>
            Comptes
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th class="text-right">Previsionnel</th>
                <th class="text-right"></th>
                <th class="text-right">Montant</th>
            </tr>
            {% for compte in comptes %}
                <tr>
                    <td><a href="/compte/{{compte.id}}">{{compte.name}}</a></td>
                    <td>{{ compte.type }}</td>
                    {% if compte.previsionnel != 0 %}
                        <td class="text-right">{{base_agri.show_eur(compte.previsionnel)}}</td>
                        <td class="text-right">{{base_agri.show_percent(compte.getPrice()/compte.previsionnel)}}</td>
                    {% else %}
                        <td class="text-right">-</td>
                        <td class="text-right">-</td>
                    {% endif %}
                    <td class="text-right">{{base_agri.show_eur(compte.getPrice())}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
