{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="well">
    <form name="agribundle_parcelle" method="post">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="cours_date" class="required">Date</label>
            </div>

            <div class="col-sm-10">
                <input id="cours_date" name="date" required="required" class="form-control js-datepicker" type="text" value="{{ date }}">
            </div>

        </div>

        {% for cours in courss %}
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="cours_{{cours['name']}}" class="required">{{cours['name']}}</label>
            </div>

            <div class="col-sm-10">
                <input id="cours_{{cours['name']}}" name="{{cours['name']}}" required="required" class="form-control" type="text" value="{{cours['value']}}">
            </div>

        </div>

        {% endfor %}
        
        <div><button type="submit" id="cours">Save</button></div>
    </form>
</div></div>
{% endblock %}
