{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}



{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}


{% block body %}

<div class="container bs-docs-container">
    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.montantHT, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.montantTTC, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.banque, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.compte, {'attr': {'class': 'form-control'}}) }}
        {{ form_end(form) }}
    </div>



{% if (facture.id != '') %}
<div class="panel panel-default", style="width:100%">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Operations
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Prix</th>
        </tr>
        {% for operation in operations %}
            <tr>
                <td><a href="/operation/{{operation.id}}">{{operation.getDateStr()}}</a></td>
                <td>{{operation.name}}</td>
                <td><a href="/operation/{{operation.id}}/delete">d</td>
            </tr>
            {% for ecriture in operation.ecritures %}
                <tr>
                    <td></td>
                    <td>{{ecriture.compte.name}}</a></td>
                    <td>{{ base_agri.show_eur(ecriture.value) }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>

{% endif %}

</div>
{% endblock %}
