{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/facture_fournisseur/0'">ADD</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='export'">EXPORT</button>
            Factures
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>Date</th>
                <th>Campagne</th>
                <th>Name</th>
                <th>Banque</th>
                <th>Compte</th>
                <th class="text-right">montant HT</th>
                <th class="text-right">montant TTC</th>
                <th class="text-right">TVA</th>
            </tr>
            {% for facture in facture_fournisseurs %}
                {% if facture.name == "sfr" %}
                    <tr  bgcolor='#ffff99'>
                {% elseif facture.name == "free" %}
                    <tr  bgcolor='#ff99ff'>
                {% elseif facture.name == "bip&go" %}
                    <tr  bgcolor='#99ffff'>
                {% else %}
                <tr>
                {% endif %}
                    <td>{% if(facture.brochure) %}<i class="ion-paperclip">{% endif %}</i></td>
                    <td><a href="/facture_fournisseur/{{facture.id}}">{{facture.getDateStr()}}</a></td>
                    <td>{{ facture.getCampagneStr() }}</td>
                    <td>{{ facture.name }}</td>
                    <td>{{ facture.banque }}</td>
                    <td>{{ facture.compte }}</td>
                    <td class="text-right">{{ facture.montantHT|showEur }}</td>
                    <td class="text-right">{{ facture.montantTTC|showEur }}</td>
                    <td class="text-right">{{ ((facture.montantTTC-facture.montantHT)/facture.montantHT)|showPercent }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
