{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/operation/0'">ADD</button>
            Operations
        </div>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Prix</th>
            </tr>
            {% for operation in operations %}
                <tr>
                    <td><a href="/operation/{{operation.id}}">{{operation.getDateStr()}}</a></td>
                    <td>{{operation.name}}</td>
                    <td></td>
                </tr>
                {% for ecriture in operation.ecritures %}
                    <tr>
                        <td></td>
                        <td>{{ecriture.compte.name}}</td>
                        <td>{{ base.show_eur(ecriture.value) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
