<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="Description" content="Application online pour gérer vos assolements, saisir vos interventions, suivre vos données parcellaire.">
        <meta name="keywords" content="agriculture, parcellaire, gestion, agricole, interventions, cultures, ephy, engrais, produits phytosanitaires" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Ma Plaine, Site de gestion parcellaire pour les agriculteurs{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <link rel="manifest" href="manifest.json">

        <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png" />



        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131048649-1 "></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-131048649-1 ');
        </script>


    </head>
    <body>

        {% include 'navbar.html.twig' %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div class="my_nav">
                <div class="container">
                    <div class="float-left">
                        <ol class="breadcrumb" style="margin-bottom: 0; padding: .5rem">
                            <li class="breadcrumb-item"><a href="{{url('home')}}">Home</a></li>
                            {% if navs is defined %}
                                {%for key,value in navs %}
                                    <li class="breadcrumb-item"><a href="{{url(value)}}">{{key}}</a></li>
                                {%endfor%}
                            {% endif %}
                        </ol>
                    </div>
                    <div class="float-right" style="margin-left:15px">
                        {% if campagnes is defined %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Campagne
                                {%for campagne in campagnes %}
                                    {%if campagne.id == campagne_id %}{{campagne.name}}{%endif%}
                                {%endfor%}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {%for campagne in campagnes %}
                                    <a class="dropdown-item" href="?campagne_id={{campagne.id}}">{{campagne.name}}</a>
                                {%endfor%}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if app.user.username == "lejard" %}
                        <div class="float-right">
                            {% if app.user.show_unity %}
                                <button type="button" class="btn btn-light" onclick="window.location.href='?show_unity=false'">{{'NotShowUnity' | trans }}</button>
                            {% else %}
                                <button type="button" class="btn btn-light" onclick="window.location.href='?show_unity=true'">{{'ShowUnity' | trans }}</button>
                            {% endif %}
                        </div>
                    {% else %}
                    {% endif %}


                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <main role="main" class="container">


            {% block body %}{% endblock %}
            {% block fos_user_content %}{% endblock %}

        </main>

        <!--- footer class="footer bg-light">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                      <li class="list-inline-item">
                        <a href="#">About</a>
                      </li>
                      <li class="list-inline-item">⋅</li>
                      <li class="list-inline-item">
                        <a href="#">Contact</a>
                      </li>
                      <li class="list-inline-item">⋅</li>
                      <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                      </li>
                      <li class="list-inline-item">⋅</li>
                      <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                      </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Your Website 2018. All Rights Reserved.</p>
                  </div>
                  <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-3">
                        <a href="#">
                          <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                      </li>
                      <li class="list-inline-item mr-3">
                        <a href="#">
                          <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </footer -->
    </body>
    {% block scripts %}{% endblock %}
    <script>
$(document).ready(function() {


});

    </script>

</html>
