<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <link rel="manifest" href="manifest.json">

        <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png" />

    </head>
    <body>
        {% include 'navbar.html.twig' %}
        <main role="main" class="container">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  and (campagnes is defined or app.user.username == "lejard") %}

                <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">

                                {% if campagnes is defined %}
                                <div class="col-sm-3">
                                    Campagne :
                                </div>
                                <div class="col-sm-3">
                                    <select class="selectpicker" id="dynamic_select">
                                        {%for campagne in campagnes %}
                                        <option value="{{campagne.id}}" {%if campagne.id == campagne_id %} selected {%endif%}>{{campagne.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                {% else %}
                                <div class="col-sm-6">
                                </div>
                                {% endif %}
                                <div class="col-sm-3">
                                </div>
                                {% if app.user.username == "lejard" %}
                                    <div class="col-sm-3">
                                        {% if app.user.show_unity %}
                                            <a href="?show_unity=false">{{'NotShowUnity' | trans }}</a>
                                        {% else %}
                                            <a href="?show_unity=true">{{'ShowUnity' | trans }}</a>
                                        {% endif %}
                                    </div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% block body %}{% endblock %}
            {% block fos_user_content %}{% endblock %}

        </main>

    </body>
    <script>
$(function(){
    // bind change event to select
    $('#dynamic_select').on('change', function () {
        var val = $(this).val(); // get selected value
        if (val) { // require a URL
            var url = window.location.href;
            if(location.search){
                url = url.replace(location.search,"?campagne_id="+val);
            } else {
                url = url + "?campagne_id="+val;
            }
            console.log(url);

            window.location = url; // redirect
        }
        return false;
    });
});
    </script>
    {% block scripts %}{% endblock %}
    <script>
$(document).ready(function() {


});

    </script>

</html>
