<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="{{ asset('build/app.js') }}"></script>
        <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/mycss.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap-datepicker.fr.min.js"></script>
        <link href='/lib/DataTables/datatables.min.css' rel='stylesheet' />
        <script src='/lib/DataTables/datatables.min.js'></script>
        <script src='/js/list.min.js'></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        {% include 'navbar.html.twig' %}
        <main role="main" class="container">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            {% if campagnes is defined %}
                            <select class="selectpicker" id="dynamic_select">>
                                {%for campagne in campagnes %}
                                <option value="{{campagne.id}}" {%if campagne.id == campagne_id %} selected {%endif%}>{{campagne.name}}</option>
                                {%endfor%}
                            </select>
                            {% endif %}
                            {% if app.user.username == "lejard" %}
                                {% if app.user.show_unity %}
                                    <a href="?show_unity=false">{{'NotShowUnity' | trans }}</a>
                                {% else %}
                                    <a href="?show_unity=true">{{'ShowUnity' | trans }}</a>
                                {% endif %}
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% block body %}{% endblock %}
            {% block fos_user_content %}{% endblock %}

        </main>

    </body>
    <script>
$(function(){
    // bind change event to select
    $('#dynamic_select').on('change', function () {
        var val = $(this).val(); // get selected value
        if (val) { // require a URL
            var url = window.location.href;
            if(location.search){
                url = url.replace(location.search,"?campagne_id="+val);
            } else {
                url = url + "?campagne_id="+val;
            }
            console.log(url);

            window.location = url; // redirect
        }
        return false;
    });
});
    </script>
    {% block scripts %}{% endblock %}
    <script>
$(document).ready(function() {
    $('.js-datepicker').datepicker({
        dateFormat: 'dd/mm/yy',
        language: 'fr'
    });

    $('.js-datatable').DataTable({
        "lengthMenu": [[15, 100, -1], [15, 100, "All"]]
    });
});

    </script>

</html>
