<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <link rel="manifest" href="manifest.json">

        <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png" />

    </head>
    <body>

        {% include 'navbar.html.twig' %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div class="my_nav">
                <div class="container">
                    <div class="float-left">
                        <ol class="breadcrumb" style="margin-bottom: 0; padding: .5rem">
                            <li class="breadcrumb-item"><a href="{{url('home')}}">Home</a></li>
                            {% if navs is defined %}
                                {%for key,value in navs %}
                                    <li class="breadcrumb-item"><a href="{{url(value)}}">{{key}}</a></li>
                                {%endfor%}
                            {% endif %}
                        </ol>
                    </div>
                    <div class="float-right">
                        {% if campagnes is defined %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Campagne
                                {%for campagne in campagnes %}
                                    {%if campagne.id == campagne_id %}{{campagne.name}}{%endif%}
                                {%endfor%}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {%for campagne in campagnes %}
                                    <a class="dropdown-item" href="?campagne_id={{campagne.id}}">{{campagne.name}}</a>
                                {%endfor%}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if app.user.username == "lejard" %}
                        <div class="float-right" style="margin-right:15px">
                            {% if app.user.show_unity %}
                                <button type="button" class="btn btn-light" onclick="window.location.href='?show_unity=false'">{{'NotShowUnity' | trans }}</button>
                            {% else %}
                                <button type="button" class="btn btn-light" onclick="window.location.href='?show_unity=true'">{{'ShowUnity' | trans }}</button>
                            {% endif %}
                        </div>
                    {% else %}
                    {% endif %}


                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <main role="main" class="container">


            {% block body %}{% endblock %}
            {% block fos_user_content %}{% endblock %}

        </main>

    </body>
    {% block scripts %}{% endblock %}
    <script>
$(document).ready(function() {


});

    </script>

</html>
