<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark  mb-4">

    <div class="container">
        <a class="navbar-brand" href="{{ url('home') }}">MaPlaine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{'Admin' | trans}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('admin_users') }}">Users</a>
                            <a class="dropdown-item" href="{{ url('admin_companies') }}">Companies</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('admin') }}">Easy Admin</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('annonces') }}">Annonces</a>
                            <a class="dropdown-item" href="{{ url('annonces_immobilier') }}">Immobilier</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Société
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('campagnes') }}">Campagnes</a>
                            <a class="dropdown-item" href="{{ url('ilots') }}">Ilots</a>
                            <a class="dropdown-item" href="{{ url('cultures') }}">Cultures</a>
                            {% if app.user.username == "lejard" %}
                            <a class="dropdown-item" href="{{ url('analyse_sols') }}">Analyses Sol</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('materiels') }}">Materiel</a>
                            {% if app.user.username == "lejard" %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('gasoils') }}">Gasoil</a>
                            <a class="dropdown-item" href="{{ url('deplacements') }}">Deplacements</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('appartement_operations') }}">Appartement Opérations</a>
                            <a class="dropdown-item" href="{{ url('appartement_bilan') }}">Bilan</a>
                            {% endif %}

                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url('parcelles') }}">Parcelles</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url('interventions') }}">Interventions</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Produits
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('produits') }}">Produits</a>
                            <a class="dropdown-item" href="{{ url('achats') }}">Achats</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('stocks') }}">Stocks</a>
                            {% if app.user.username == "lejard" %}
                            <a class="dropdown-item" href="{{ url('produit_campagnes') }}">Prix campagne</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('ephy_produits') }}">Ephy</a>
                        </div>
                    </li>

                    {% if app.user.username == "lejard" %}
                        <li class="nav-item"><a class="nav-link" href="{{ url('calendar') }}">Calendrier</a></li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bilan
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('bilan_charges') }}">Bilan charges</a>
                            <a class="dropdown-item" href="{{ url('bilan_detail') }}">Bilan Detaillé</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('bilan') }}">Bilan</a>
                            {% if app.user.username == "lejard" %}
                            <a class="dropdown-item" href="{{ url('bilan_rendements') }}">Rendements</a>
                            <a class="dropdown-item" href="{{ url('bilan_produits') }}">Produits</a>
                            <a class="dropdown-item" href="{{ url('bilan_comptes') }}">Comptes</a>
                            <a class="dropdown-item" href="{{ url('bilan_gasoil') }}">Gasoil</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ url('bilan_dates') }}">Dates</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('engrais') }}">Bilan engrais</a>

                        </div>
                    </li>

                    {% if app.user.username == "lejard" %}

                    <li class="nav-item"><a class="nav-link" href="{{ url('livraisons') }}">Livraisons</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cours">Cours</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('comptes') }}">Comptes</a>
                            <a class="dropdown-item" href="{{ url('banque') }}">Banque</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('operations') }}">Operations</a>
                            <a class="dropdown-item" href="{{ url('factures_fournisseurs') }}">Factures</a>
                        </div>
                    </li>
                    {% endif %}

                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--button(type='button', class='btn btn-default navbar-btn') Sign in-->
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  href="{{ url('fos_user_security_logout') }}">Deconnexion</a>
                        <a class="dropdown-item"  href="{{ url('fos_user_profile_edit') }}">Mon Profil</a>


                    </div>
                </li>
                {% else %}
                <li><button type="button" class="btn btn-light navbar-btn ab-rounded m-1" onclick="location.href='{{ url('fos_user_security_login') }}'">Connexion</button></li>
                <li><button type="button" class="btn btn-outline-light navbar-btn ab-rounded m-1" onclick="location.href='{{ url('fos_user_registration_register') }}'">Register</button></li>
                {% endif %}
            </ul>

        </div>

    </div>
</nav>
