{% extends 'base_form.html.twig' %}

{% block body_form %}


<div class="card">
    <div class="card-header">
        Details
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                longeur : {{tuyaux.longueur}} m
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {% if (tuyaux.borneA) %}
            <div class="col-sm-6">
                borne A :  {{tuyaux.borneA.id}} {{tuyaux.borneA.name}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {% if (tuyaux.borneB) %}
            <div class="col-sm-6">
                borne B : {{tuyaux.borneB.id}} {{tuyaux.borneB.name}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            points: {{ tuyaux.points | json_encode | raw}}
        </div>
        <div class="row">
            alt: {{ tuyaux.altitudes | json_encode | raw}}
        </div>
    </div>
</div>

{% if (tuyaux.id != '') %}



<div class="card">
    <div class="card-header">
        Delete
        <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url("irri_tuyaux_delete", {'tuyaux_id': tuyaux.id}) }}'">Delete</button>
    </div>
</div>

{% endif %}

{% endblock %}
