{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/achat/0'">ADD</button>
            Panel heading
        </div>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Price Total</th>
            </tr>
            {% for achat in achats %}
            <tr>
                <td><a href="/achat/{{achat.id}}">{{achat.getDateStr()}}</td>
                <td><a href="/produit/{{achat.produit.id}}">{{achat.produit.completeName}}</a></td>
                <td>{{achat.qty}}</td>
                <td>{{ "%.2f €"|format(achat.price) }}</td>
                <td>{{ "%.2f €"|format(achat.price_total) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
