{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}

<div class="well">
    {{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.type) }}
    {{ form_row(form.parcelles) }}
    <a href="#" id="add_parcelle" class="btn btn-default">Ajouter une parcelle</a>
    {{ form_row(form.produits) }}
    <a href="#" id="add_produit" class="btn btn-default">Ajouter un produit</a>
    {{ form_row(form.save) }}
    {{ form_end(form) }}


</div>

<script type="text/javascript">

$(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#agribundle_intervention_parcelles');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_parcelle').click(function(e) {
        addparcelle($container);
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
    });


    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
        addparcelle($container);
    } else {
        // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
        $container.children('div').each(function() {
            addDeleteLink($(this));
        });
    }


    function addparcelle($container) {
        // Dans le contenu de l'attribut « data-prototype », on remplace :
        // - le texte "__name__label__" qu'il contient par le label du champ
        // - le texte "__name__" qu'il contient par le numéro du champ
        var template = $container.attr('data-prototype')
            .replace(/__name__label__/g, (index))
            .replace(/__name__/g,        index)
            ;

        var $prototype = $(template);
        addDeleteLink($prototype);
        $container.append($prototype);
        index++;

    }


    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
        var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
        $prototype.append($deleteLink);


        $deleteLink.click(function(e) {
            $prototype.remove();
            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });
    }
    
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#agribundle_intervention_produits');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_produit').click(function(e) {
        addproduit($container);
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
    });


    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
        addproduit($container);
    } else {
        // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
        $container.children('div').each(function() {
            addDeleteLink($(this));
        });
    }


    function addproduit($container) {
        // Dans le contenu de l'attribut « data-prototype », on remplace :
        // - le texte "__name__label__" qu'il contient par le label du champ
        // - le texte "__name__" qu'il contient par le numéro du champ
        var template = $container.attr('data-prototype')
            .replace(/__name__label__/g, (index))
            .replace(/__name__/g,        index)
            ;

        var $prototype = $(template);
        addDeleteLink($prototype);
        $container.append($prototype);
        index++;

    }


});

</script>
{% endblock %}
