{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}

{% block body %}
<div class="container bs-docs-container">

    {% for parcelle in parcelles %}
        <div class="well", style="background-color:{{ parcelle.cultureColor }};page-break-after: always">


            <div class="panel panel-default", style="width:100%">
                <!-- Default panel contents -->
                <table class="table">
                    <tr>
                        <th>Parcelle</th>
                        <th>{{ parcelle.completeName }}</th>
                    </tr>
                    <tr>
                        <td>Surface</td>
                        <td>{{ parcelle.surface | showHa }}</td>
                    </tr>
                    <tr>
                        <td>Culture</td>
                        <td>{{ parcelle.culture }}</td>
                    </tr>
                    <div>{{ parcelle.comment }}</div>
                    <tr>
                        <td>N</td>
                        <td>{{ "%d"|format(parcelle.n)}}</td>
                    </tr>
                    <tr>
                        <td>P - K - S - Mg</td>
                        <td>{{ "%d"|format(parcelle.p)}} - {{ "%d"|format(parcelle.k)}} - {{ "%d"|format(parcelle.s)}} - {{ "%d"|format(parcelle.mg)}}</td>
                    </tr>
                </table>
            </div>

            <div class="panel panel-default", style="width:100%">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    Interventions
                </div>
                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>{{'Name' | trans}}</th>
                        <th></th>
                        <th class="text-right">{{ base_agri.show_eur_ha(parcelle.priceHa)}}</th>
                        <th></th>
                    </tr>
                    {% for intervention in parcelle.interventions %}
                        <tr>
                            <td><a href="/intervention/{{intervention.id}}">{{intervention.get_date()}}</td>
                            <td><b>{{intervention.type}}</b></td>
                            <td class="text-right"><b>{{ intervention.surface | showHa }}</b></td>
                            <td class="text-right"></td>
                            <td class="text-right"><b>{{ base_agri.show_eur_ha(intervention.getPriceHa())}}</b></td>
                        </tr>
                        {% for it in intervention.produits %}
                            <tr>
                                <td></td>
                                <td>{{it.name}}</td>
                                <td class="text-right">{{ base_agri.show_unity(it.qty, it.produit.unity)}}</td>
                                <td class="text-right">{{ base_agri.show_unity_ha(it.qtyha, it.produit.unity)}}</td>
                                <td class="text-right">{{ base_agri.show_eur_ha(it.getPriceHa())}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
