{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}
<div class="container bs-docs-container">

    <div class="well">


        <div class="panel panel-default", style="width:100%">
            <!-- Default panel contents -->
            <table class="table">
                <tr>
                    <th>Parcelle</th>
                    <th>Culture</th>
                    <th class="text-right">Surface</th>
                    <th class="text-right">Prix</th>
                    <th class="text-right">Rendement</th>
                </tr>
                {% for parcelle in parcelles %}
                <tr  bgcolor='{{ parcelle.cultureColor}}'>
                    <td><a href="/parcelle/{{parcelle.id}}">{{parcelle.completeName}}</a></td>
                    <td>{{parcelle.culture}}</td>
                    <td class="text-right">{{ parcelle.surface | showHa }}</td>
                    <td class="text-right">{{ (parcelle.priceHa) | showEurUnity('ha')}}</td>

                    <td class="text-right">{{ (parcelle.poid_norme/parcelle.surface) | showUnity('t/ha')}}</td>
                </tr>
                {% for key,t in parcelle.details %}
                <tr  bgcolor='{{ parcelle.cultureColor}}'>
                    <td></td>
                    <td></td>
                    <td>{{key}}</td>
                    <td class="text-right">{{ t | showEurUnity('ha')}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="well">


        <div class="panel panel-default", style="width:100%">
            <!-- Default panel contents -->
            <table class="table">
                <tr>
                    <th>Culture</th>
                    <th class="text-right">Surface</th>
                    <th class="text-right">Prix</th>
                    <th class="text-right">Rendement</th>
                </tr>
                {% for culture in cultures %}
                <tr bgcolor='{{ culture.color}}'>
                    <td>{{culture['culture']}}</td>
                    <td class="text-right">{{ culture['surface'] | showHa }}</td>
                    <td class="text-right">{{ (culture['poid_norme']/culture['surface']) | showEurUnity('ha')}}</td>
                    <td class="text-right">{{ (culture['poid_norme']/culture['surface']) | showUnity('t/ha')}}</td>
                </tr>
                {% for key,t in culture.details %}
                <tr bgcolor='{{ culture.color}}'>
                    <td></td>
                    <td>{{key}}</td>
                    <td class="text-right">{{ (t/culture['surface']) | showEurUnity('ha')}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
