{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading"><th>{{produit.completeName}}</th></div>
        <table class="table">
            <tr>
                <th>Amm</th>
                <th>{{produit.amm}}</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>{{produit.name}}</th>

            </tr>
            <tr>
                <td>Societe</td>
                <td>{{produit.society}}</td>

            </tr>

        </table>
    </div>
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">Substances</div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Qty</th>
                <th>Unity</th>
            </tr>
            {% for substance in produit.substances %}
            <tr>
                <td><a href="/ephy_substance/{{substance.ephysubstance.name}}">{{substance.ephysubstance.name}}</a></td>
                <td>{{substance.quantity}}</td>
                <td>{{substance.unity}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
