{% extends 'AgriBundle::base_agri.html.twig' %}

{% block javascripts %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Autocomplete - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    var availableTags = [
    {% for produit in produits %}
        "{{produit}}",
    {% endfor %}

    ];
    $( "#agribundle_interventionproduit_name" ).autocomplete({
        source: availableTags,
        select: function (event, ui) {
            var label = ui.item.label;
            var value = ui.item.value;
            //alert("selected " + label + " " + value);
        }
    });
    /*document.getElementById("test").addEventListener("click", function( event ) {
        value = document.getElementById("tags").value;
        url = '/api/produit/' + value;
        console.log(url);
        $.getJSON(url, function( data ) {
            no_ephy = data.no_ephy;
            url = 'http://e-phy.agriculture.gouv.fr/spe/' + no_ephy + '.htm';

            open(url);
        });
        //event.target.textContent = "click count: " + event.detail;
        //open('http://google.com');
    }, false);*/
    $('#agribundle_interventionproduit_qty').on('input',function(e){
        surface = parseFloat(document.getElementById("surface").textContent);
        dose = parseFloat(document.getElementById("agribundle_interventionproduit_qty").value);
        dose_ha = dose/surface;
        document.getElementById("qty_by_ha").innerHTML = dose_ha;
    });

} );
</script>
{% endblock %}



{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}


{% block body %}
<!--div class="container">
    <div class="well">
        <form>
        <div class="ui-widget">
            <label for="tags">Tags: </label>
            <input id="tags">
            <button type="button" id="test">Click Me!</button>
        </div>
        </form>
    </div>
</div-->

<div class="container">
    <div class="well">
        {{ form(form) }}
    </div>
    <div class="well">
        Surface Intervention : <div id="surface" style="display:inline;">{{surface_totale}}</div> ha
        <br>
        Quantité par ha : <div id="qty_by_ha" style="display:inline;">7.5</div>
    </div>
</div>
{% endblock %}
