{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <div class="panel-heading">
            Interventions
            <button type="button" class="btn btn-primary" onclick="window.location.href='/intervention/0'">ADD</button>
        </div>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            {% for intervention in interventions %}
                <tr>
                    <td><a href="/intervention/{{intervention.id}}">{{intervention.get_date()}}</td>
                    <td><b>{{intervention.type}}
                        {% if intervention.comment %}
                            - {{ intervention.comment }}
                        {% endif %}
                        </b>
                    </td>
                    <td class="text-right"><b>{{ intervention.surface | showHa }}</b></td>
                    <td class="text-right"><a href="/intervention/{{intervention.id}}/delete">Delete</td>
                </tr>

                {% for it in intervention.parcelles %}
                <tr>
                    <td>{{it.parcelle.culture}}</td>
                    <td>{{it.parcelle.completeName}}</td>
                    <td class="text-right">{{ it.parcelle.surface | showHa }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% for it in intervention.produits %}
                <tr>
                    <td></td>
                    <td>{{it.name}}</td>
                    <td class="text-right">{{ base_agri.show_unity(it.qty, it.produit.unity)}}</td>
                    <td class="text-right">{{base_agri.show_unity_ha(it.qtyha, it.produit.unity)}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
