{% extends 'AgriBundle::base_agri.html.twig' %}



{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}


{% block body %}

<div class="container bs-docs-container">
<div class="well">
    {{ form_start(form) }}
    {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.parcelle, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.espece, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.poid_total, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.tare, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.poid_norme, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.humidite, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.ps, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.proteine, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.calibrage, {'attr': {'class': 'form-control'}}) }}
    <hr>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>


</div>
{% endblock %}
