{% extends 'AgriBundle::base_agri.html.twig' %}



{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}


{% block body %}

<div class="container bs-docs-container">
<div class="well">
    {{ form_start(form) }}
    {{ form_row(form.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
    {{ form_row(form.nbHeure, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.comment, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
