{% extends 'AgriBundle::base_agri.html.twig' %}
{% import 'AgriBundle::base_agri.html.twig' as base_agri %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/produit/0'">{{'Add' | trans}}</button>
            Panel heading
        </div>
        <table class="table">
            <tr>
                <th>{{'Name' | trans}}</th>
                <th>Ephy</th>
                <th>Type</th>
                <th>{{'Unity' | trans}}</th>
                <th class="text-right">{{'Qty' | trans}}</th>
                <th class="text-right">{{'Price' | trans}}</th>
                <th class="text-right">{{'TotalPrice' | trans}}</th>
                <th></th>
            </tr>
            {% for p in produits %}
                {% if p.isCMR() %}
                <tr  bgcolor='{{ p.getColor() }}'>
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ p.name | my_path('produit', {'produit_id': p.id}) | raw }}</td>
                    <td>{{ p.ephyProduit }}</td>
                    <td>{{p.type}}</td>
                    <td>{{p.unity}}</td>
                    <td class="text-right">{{ base_agri.show_unity(p.qty, 'u') }}</td>
                    <td class="text-right">{{ p.price | showEurUnity('u') }}</td>
                    <td class="text-right">{{ base_agri.show_eur(p.price*p.qty) }}</td>
                    <td><a href="/produit/{{p.id}}/delete">d</a></td>

                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
