{% extends 'AgriBundle::base_form.html.twig' %}

{% block body_form %}

<div class="panel panel-default", style="width:100%">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Interventions
    </div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>{{'Name' | trans}}</th>
            <th></th>
            <th></th>
        </tr>
        {% for intervention in interventions %}
        <tr>
            <td><a href="/intervention/{{intervention.id}}">{{intervention.id}}</td>
            <td><b>{{intervention.get_date()}}</b></td>
            <td><b>{{intervention.type}}</b></td>
            <td><b>{{ "%.2f  ha"|format(intervention.surface)}}</b></td>
            <td></td>
        </tr>
        {% for it in intervention.produits %}
        <tr>
            <td></td>
            <td></td>
            <td>{{it.name}}</td>
            <td>{{ "%.2f  u"|format(it.qty)}}</td>
            <td>{{ "%.2f  u/ha"|format(it.qtyha)}}</td>

        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</div>

<div class="panel panel-default", style="width:100%">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Achats
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>{{'Name' | trans}}</th>
            <th>Qty</th>
            <th>Prix</th>
        </tr>
        {% for achat in     achats %}
        <tr>
            <td>{{achat.getDateStr()}}</td>
            <td>{{achat.name}}</td>
            <td>{{ "%.2f  u"|format(achat.qty)}}</td>
            <td>{{ "%.2f  €/u"|format(achat.price)}}</td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
