{% extends 'AgriBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>unity</th>
                <th class="text-right">qty</th>
                <th class="text-right">price</th>
                <th></th>
            </tr>
            {% for p in stocks %}
            <tr>
                <td><a href="/produit/{{p.id}}">{{p.completeName}}</a></td>
                <td>{{p.type}}</td>
                <td>{{p.unity}}</td>
                <td class="text-right">{{ "%.2f    "|format(p.qty) }}</td>
                <td class="text-right">{{ "%.2f €  "|format(p.price) }}</td>
                <td><a href="/produit/{{p.id}}/delete">d</a></td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
