{% extends 'base_form.html.twig' %}

{% block body_form %}

{% if (compte.id != '') %}

<div class="card">
    <canvas id="myChart"></canvas>
</div>


<div class="card">
    <div class="card-header">
        Operations
        <button type="button" class="btn btn-primary" onclick="window.location.href='/operation/0'">Ajouter</button>
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Campagne</th>
            <th class="text-right">D</th>
            <th class="text-right">C</th>
            <th class="text-right">Value</th>
        </tr>
        {% for ecriture in ecritures_futures %}
            <tr>
                <td><a href="/operation/{{ecriture['operation_id']}}">{{ecriture['date']}}</a></td>
                <td>{{ecriture['name']}}</a></td>
                <td>{{ecriture['campagne']}}</td>
                {% if ecriture['value'] > 0 %}
                    <td class="text-right"></td>
                    <td class="text-right" style="color: #006e36;">{{ ecriture['value'] | showEur }}</td>
                {% else %}
                    <td class="text-right" style="color: #e70b0b;">{{ ecriture['value'] | showEur }}</td>
                    <td class="text-right"></td>
                {% endif %}
                <td class="text-right">{{ ecriture['sum_value'] | showEur }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for ecriture in ecritures %}
            <tr>
                <td><a href="/operation/{{ecriture['operation_id']}}">{{ecriture['date'] | showDate }}</a></td>
                <td>{{ecriture['name']}}</a></td>
                <td>{{ecriture['campagne']}}</td>
                {% if ecriture['value'] > 0 %}
                    <td class="text-right"></td>
                    <td class="text-right" style="color: #006e36;">{{ ecriture['value'] | showEur }}</td>
                {% else %}
                    <td class="text-right" style="color: #e70b0b;">{{ ecriture['value'] | showEur }}</td>
                    <td class="text-right"></td>
                {% endif %}
                <td class="text-right">{{ ecriture['sum_value'] | showEur }}</td>
                {% if ecriture['facture'] %}
                    <td><small>{{ecriture['facture'].getAchatsTotal() | showEur}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
{% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src='/lib/Chart.js/Chart.min.js'></script>
<script>
    var timeFormat = 'DD/MM/YYYY';

    var color = Chart.helpers.color;
    var config = {
        type: 'line',
        data: {
            datasets:[
                {% for chartjs in chartjss %}
                {
                    label: '{{chartjs['annee']}}',
                    fill: false,
                    backgroundColor: '{{chartjs['color']}}',
                    borderColor: '{{chartjs['color']}}',

                    data: [
                        {% for data in chartjs['data'] %}
                            {
                                x: "{{data['date']}}",
                                y: {{data['value']}},
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}
            ]
        },
        options: {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        format: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myLine = new Chart(ctx, config);

    };
</script>

{% endblock %}

