{% extends 'base_agri.html.twig' %}

{% block body %}


<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/compte/0'">Ajouter</button>
        Comptes
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th class="text-right">Previsionnel</th>
            <th class="text-right"></th>
            <th class="text-right">Montant</th>
        </tr>
        {% for compte in comptes %}
            {% if compte.type != 'campagne' or compte.getPriceNull() != 0 %}
            <tr>
                <td>{{ compte.name | my_path('compte', {'compte_id': compte.id}) | raw }}</td>
                <td>{{ compte.type }}</td>

                {% if compte.previsionnel != 0 %}
                    <td class="text-right">{{ compte.previsionnel | showEur }}</td>
                    <td class="text-right">{{ (compte.getPriceNull()/compte.previsionnel) | showPercent}}</td>
                {% else %}
                    <td class="text-right">-</td>
                    <td class="text-right">-</td>
                {% endif %}
                <td class="text-right">{{ (-compte.getPrice()) | showEur }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% for campagne in campagnes %}
            <tr>
                <th colspan = "4"  class="text-center">
                    {{campagne.name}}
                </th>
                <th class="text-right">{{ comptes_campagnes[campagne.name] | showEur}}</th>
            </tr>
            {% for compte in comptes %}
                {% if compte.type == 'campagne' or compte.getPriceCampagne(campagne) != 0 %}
                <tr>
                    <td>{{ compte.name | my_path('compte', {'compte_id': compte.id}) | raw }}</td>
                    <td>{{ compte.type }} - {{campagne}}</td>
                    {% if compte.previsionnel != 0 %}
                        <td class="text-right">{{ compte.previsionnel | showEur }}</td>
                        <td class="text-right">{{ (compte.getPriceCampagne(campagne)/compte.previsionnel) | showPercent}}</td>
                    {% else %}
                        <td class="text-right">-</td>
                        <td class="text-right">-</td>
                    {% endif %}
                    <td class="text-right">{{ compte.getPriceCampagne(campagne) | showEur }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>

{% endblock %}
