{% extends 'base_form.html.twig' %}

{% block body %}

<div class="card mb-3">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_row(form.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.campagne, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.montantHT, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.montantTTC, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.banque, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.compte, {'attr': {'class': 'form-control'}}) }}

        {% if (facture.factureFileName != '') %}
            <div class="form-group row">
                <div class="col-sm-10">
                    <embed src="{{ vich_uploader_asset(facture, 'factureFile') }}" width="500" height="800" type='application/pdf'>
                </div>
            </div>
        {% else %}
        {% endif %}
        {{ form_row(form.factureFile) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Sauvegarder" />
        {{ form_end(form) }}
    </div>
</div>



{% if (facture.id != '') %}

<div class="card">
    <div class="card-header">
        Achats
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th></th>
            <th>Prix</th>
        </tr>
        {% for achat in facture.achats %}
            <tr>
                <td><a href="{{ url("achat", {'achat_id': achat.id}) }}">{{achat.produit}}</a></td>
                <td>{{achat.qty | showUnity("u")}}</td>
                <td>{{achat.price_total | showEur }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <th>{{ facture.getAchatsTotal() | showEur }}</th>
            <td></td>
        </tr>
    </table>
</div>


<div class="card">
    <div class="card-header">
        Operations
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th></th>
            <th>Prix</th>
        </tr>
        {% for operation in operations %}
            <tr>
                <td><a href="/operation/{{operation.id}}">{{operation.getDateStr()}}</a></td>
                <td>{{operation.name}}</td>
                <td></td>
                <td><a href="/operation/{{operation.id}}/delete">d</td>
            </tr>
            {% for ecriture in operation.ecritures %}
                <tr>
                    <td></td>
                    <td>{{ecriture.compte.name}}</a></td>
                    <td>{{ecriture.campagne}}</td>
                    <td>{{ ecriture.value | showEur }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
<div class="card">
    <div class="card-header">
        Delete
        <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url("facture_fournisseur_delete", {'facture_id': facture.id}) }}'">Delete</button>
    </div>
</div>

{% endif %}

{% endblock %}
