{% extends 'base_agri.html.twig' %}

{% block body %}

<div class="card">
    <canvas id="myChart"></canvas>
</div>


<div class="card">
    <div class="list-group">
        {% for table in cultures %}
        <div class="list-group-item flex-column align-items-start" style="background-color:{{ table['culture'].color}};">
            <div class ="row">
                <h5 class ="col-4">
                    {{ table['culture'].name}}
                </h5>
                <div class ="col-4">
                    {{ table['surface'] | showUnity("ha") }}
                </div>
                <div class ="col-4">
                    {{ table['qty_estime'] | showUnity("t estimée") }} <span class="badge">  {{ table["rendement_prev"] | showUnity("t/ha")}} </span>
                </div>
            </div>
            <div class ="row">
                <div class ="col-4">
                    livrée : {{ table['qty_livraison'] | showUnity("t") }} <span class="badge"> {{ table['qty_livraison_perc'] | showPercent }}</span>
                </div>
                <div class ="col-4">
                    Commercialisée : {{ table['qty_commercialise'] | showUnity("t") }} <span class="badge"> {{ table['qty_commercialise_perc'] | showPercent }}</span>
                </div>
                <div class ="col-4">
                    Prix : {{ table['price'] | showUnity(" €/t") }}
                </div>
            </div>
            <div class ="row">
                <div class ="col-2">
                </div>
                <div class ="col-4">
                    Cotation : {{ table['cotation'] | showUnity("€/t") }}
                </div>
                <div class ="col-4">
                    Prix aujourd'hui : {{ table['price_today'] | showUnity("€/t") }}  <span class="badge"> {{ table['price_today_perc'] | showPercent}}</span>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="list-group-item flex-column align-items-start">
            <div class ="row">
                <h5 class ="col-3">
                    Total
                </h5>
                <div class ="col-3">
                    objectif : {{ total_obj | showUnity("€") }}
                </div>
                <div class ="col-3">
                    Prix realisé : {{ total_realise | showUnity("€") }}
                </div>
                <div class ="col-3">
                    Prix aujourd'hui : {{ total_today | showUnity("€") }} <span class="badge"> {{ (total_today/total_obj) | showPercent }}</span>
                </div>
            </div>
        </div>
    </div>
    <!--table class="table">
        <tr>
            <th>Culture</th>
            <th>Surface</th>
            <th>Qty estime</th>
            <th>Qty livrée</th>
            <th>Qty commer</th>
            <th>Prix</th>
        </tr>
        {% for key, value in cultures %}
            <tr>
                <td>{{ value['name'] }}</td>
                <td>{{ value['surface'] | showUnity("ha") }}</td>
                <td>{{ value['qty_estime'] | showUnity("t") }}</td>
                <td>{{ value['qty_livraison'] | showUnity("t") }}</td>
                <td>{{ value['qty_commercialise'] | showUnity("t") }} {{ value['qty_commercialise_perc'] | showPercent }}</td>
                <td>{{ value['price'] | showUnity(" €/t") }}</td>
            </tr>
        {% endfor %}
    </table-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src='/lib/Chart.js/Chart.min.js'></script>
<script>
    var timeFormat = 'DD/MM/YYYY';

    var color = Chart.helpers.color;
    var config = {
        type: 'line',
        data: {
            datasets:[
                {% for chartjs in chartjss %}
                {
                    label: '{{chartjs['annee']}}',
                    fill: false,
                    backgroundColor: '{{chartjs['color']}}',
                    borderColor: '{{chartjs['color']}}',
                    data: [
                        {% for data in chartjs['data'] %}
                            {
                                x: "{{data['date']}}",
                                y: {{data['value']}},
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}

                {% for chartjs in chartjss2 %}
                {
                    label: '{{chartjs['annee']}}',
                    backgroundColor: '{{chartjs['color']}}',
                    borderColor: '{{chartjs['color']}}',
                    showLine: false, //<- set this

                    data: [
                        {% for data in chartjs['data'] %}
                            {
                                x: "{{data['date']}}",
                                y: {{data['value']}},
                            },
                        {% endfor %}
                    ],
                },
                {% endfor %}
            ]
        },
        options: {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        format: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myLine = new Chart(ctx, config);

    };
</script>

{% endblock %}
