{% extends 'AppBundle::base_agri.html.twig' %}

{% block body %}


<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading"><th>{{ephy_substance.name}}</th></div>
    </div>
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">Produits</div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th></th>
                <th>Qty</th>
                <th>Unity</th>
            </tr>
            {% for ephy_substanceproduit in ephy_substanceproduits %}
                <tr  style="background-color:{{ephy_substanceproduit.ephyproduit.getColor()}}">
                    <td><a href="/ephy_produit/{{ephy_substanceproduit.ephyproduit.completeName}}">{{ephy_substanceproduit.ephyproduit.completeName}}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for substance in ephy_substanceproduit.ephyproduit.substances %}
                    <tr>
                        <td></td>
                        <td>{{substance.ephysubstance.name}}</td>
                        <td>{{substance.quantity}}</td>
                        <td>{{substance.unity}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
