{% macro show_eur(value) %}
    {%- spaceless %}
    {{ value | number_format(2, ',', ' ') }}
    {% if app.user.show_unity %}
     €
    {% endif %}
    {% endspaceless -%}
{% endmacro %}

{% macro show_unity(value, unity) %}
    {%- spaceless %}
    {{ value | number_format(2, ',', ' ') }}
    {% if app.user.show_unity %}
      {{ unity }}
    {% endif %}
    {% endspaceless -%}
{% endmacro %}

{% macro show_unity_ha(value, unity) %}
    {%- spaceless %}
    {{ value | number_format(2, ',', ' ') }}
    {% if app.user.show_unity %}
     {{ unity }}/ha
    {% endif %}
    {% endspaceless -%}
{% endmacro %}

{% macro show_eur_ha(value) %}
    {%- spaceless %}
    {{ value | number_format(2, ',', ' ') }}
    {% if app.user.show_unity %}
     €/ha
    {% endif %}
    {% endspaceless -%}
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/css/ionicons.min.css?v=2.0.1" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-datepicker.min.js"></script>
        <script src="/js/bootstrap-datepicker.fr.min.js"></script>
        <link href='/lib/DataTables/datatables.min.css' rel='stylesheet' />
        <script src='/lib/DataTables/datatables.min.js'></script>
        <script src='/js/list.min.js'></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">MaPlaine</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Admin' | trans}}<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url('admin_users') }}">Users</a></li>
                                        <li><a href="{{ url('admin_companies') }}">Companies</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Company' | trans}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('campagnes') }}">Campagnes</a></li>
                                <li><a href="{{ url('ilots') }}">Ilots</a></li>
                                <li><a href="{{ url('cultures') }}">Cultures</a></li>
                                <li><a href="{{ url('analyse_sols') }}">Analyses Sol</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('materiels') }}">Materiel</a></li>
                                {% if app.user.username == "lejard" %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('gasoils') }}">Gasoil</a></li>
                                <li><a href="{{ url('deplacements') }}">Deplacements</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{{ url('parcelles') }}">Parcelles</a></li>
                        <li><a href="{{ url('interventions') }}">Interventions</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produits <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('produits') }}">Produits</a></li>
                                <li><a href="{{ url('achats') }}">Achats</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('stocks') }}">Stocks</a></li>
                                <li><a href="{{ url('produit_campagnes') }}">Prix campagne</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('engrais') }}">Engrais</a></li>
                                <li><a href="{{ url('bilan_produits') }}">Bilan Produits</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('ephy_produits') }}">Produits Ephy</a></li>

                            </ul>
                        </li>
                        <li><a href="{{ url('calendar') }}">Calendrier</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bilan <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('bilan') }}">Bilan</a></li>
                                <li><a href="{{ url('bilan_charges') }}">Bilan charges</a></li>
                                <li><a href="{{ url('bilan_detail') }}">Bilan Detaillé</a></li>
                            </ul>
                        </li>
                        {% if app.user.username == "lejard" %}
                        <li><a href="/livraisons">Livraisons</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/cours">Cours</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('comptes') }}">Comptes</a></li>
                                <li><a href="{{ url('banque') }}">Banque</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('operations') }}">Operations</a></li>
                                <li><a href="{{ url('factures_fournisseurs') }}">Factures</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url('annonces') }}">Annonces</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--button(type='button', class='btn btn-default navbar-btn') Sign in-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <li><a href="{{ url('fos_user_security_logout') }}">Deconnexion</a></li>
                                    <li><a href="{{ url('fos_user_profile_edit') }}">{{ app.user.username }}</a></li>
                                {% else %}
                                    <li><a href="{{ url('fos_user_security_login') }}">{{ 'base.Login'|trans }} </a></li>
                                    <li><a href="{{ url('fos_user_registration_register') }}">{{ 'base.Register'|trans }} </a></li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <div class="container bs-docs-container">
            {% if campagnes is defined %}
            <select class="selectpicker" id="dynamic_select">>
                {%for campagne in campagnes %}
                <option value="{{campagne.id}}" {%if campagne.id == campagne_id %} selected {%endif%}>{{campagne.name}}</option>
                {%endfor%}
            </select>
            {% endif %}
            {% if app.user.show_unity %}
                <a href="?show_unity=false">{{'NotShowUnity' | trans }}</a>
            {% else %}
                <a href="?show_unity=true">{{'ShowUnity' | trans }}</a>
            {% endif %}
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}
    </body>
    <script>
$(function(){
    // bind change event to select
    $('#dynamic_select').on('change', function () {
        var val = $(this).val(); // get selected value
        if (val) { // require a URL
            var url = window.location.href;
            if(location.search){
                url = url.replace(location.search,"?campagne_id="+val);
            } else {
                url = url + "?campagne_id="+val;
            }
            console.log(url);

            window.location = url; // redirect
        }
        return false;
    });
});
    </script>
    <script>
$(document).ready(function() {
    $('.js-datepicker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'fr'
    });

    $('.js-datatable').DataTable({
        "lengthMenu": [[15, 100, -1], [15, 100, "All"]]
    });
});

    </script>

</html>
